<html>
 <head>
  <title> Kubesat </title>
 </head>
 <body>
  <h1>Что такое кубсат?</h1>
  <p>
   Кубсат — формат малых искусственных спутников Земли для исследования космоса, 
имеющих габариты 10×10×10 см при массе не более 1,33 кг. Создание кубсатов стало 
возможным благодаря развитию микроминиатюризации и использовании общепромышленной 
микроэлектроники для создания космических спутников.</p>
  <p> 
  Основная причина миниатюризации спутников заключается в снижении стоимости 
развертывания и поскольку их можно развернуть на остатках мощности ракеты. Это позволяет 
снизить различные риски, а также существенно ускорить процесс запуска.
 </p>
 </body>
</html>
