{% extends 'base/base.html' %}

{% block title %}
Способы связи
{% endblock%}


{% block body %}
<h1>Способы связи</h1>
<h2>Предыстория. Азбука Морзе</h2>
<div>
    <p>В 1838 году изобретатели  
        Самуэлем Морзе,  Альфредом Вейлем  и  Джозефом Генри создали Азбуку Морзе.  
        Этот код изначально предназначался для  изобретенного ими 
        телеграфного устройства.
    </p>
</div>
<div>
    <ul>
        <h3>Международный код Морзе</h3>
        <li>Длина точки равна одной единице.</li>
        <li>Тире – три единицы.</li>
        <li>Расстояние между частями одной 
            буквы составляет одну единицу</li>
        <li>Расстояние между буквами – три 
            единицы</li>
        <li>Пробел между словами – семь 
            единиц.</li>
    </ul>
</div>
<h4>Самая маленькая единица измерения информации бит</h4>
{% endblock%}