{% extends 'base/base.html' %}

{% block title %}
Спутники "Cubesat"
{% endblock%}

{% block individual_style %} {% endblock%}


{% block body %}
<!-- TODO разметить и застилизовать -->

<p>Кубсат (англ. CubeSat ← cube + satellite) — формат малых (сверхмалых) искусственных спутников Земли 
для исследования космоса, имеющих габариты 10×10×10 см при массе не более 1,33 кг. 
Создание кубсатов стало возможным благодаря развитию микроминиатюризации
и использовании общепромышленной микроэлектроники для создания космических спутников. 
После появления формата кубсат появился ещё более малый формат покеткуб
(англ. PocketCube букв. «карманный куб») весом до 250 г и размером 5×5×5 см (этот размер обозначается как 1p)</p>


<p>Цель проекта CubeSat состояла в том, чтобы сократить стоимость и время разработки спутников, повысить доступность запусков.
Поэтому был разработан формат CubeSat, который представляет собой класс спутников, которые имеют стандартный размер и форму. 
Для данного формата была принята единица измерения «U» («unit»). CubeSat 1U представляет собой куб со стороной 10 см и массой до 2 кг (рис. 1).</p>


<p>Одно из важных требований к такому формату - монолитность структуры космического аппарата, т.е. CubeSat не может содержать отделяемых частей.
Это условие позволяет уменьшить образование космического мусора на орбитах Земли. 
Ещё одним важным условием для комплектации CubeSat является то, что на борту аппарата запрещено устанавливать взрывные устройства или резервуары со взрывоопасными веществами, а также баки под давлением более 1,2 атмосфер. 
Это ограничивает спектр возможной аппаратуры (в первую очередь, двигательных установок), но зато создаёт возможность запуска аппаратов с борта Международной космической станции без угрозы для экипажа.
Такая схема запуска считается перспективной в свете простоты изготовления аппаратов, развивающейся технологии создания формаций спутников и регулярности запусков транспортных кораблей к МКС.</p>

<p>Конструктивно CubeSat представляет собой алюминиевый каркас, внутри которого располагаются:

модуль центрального процессора; 
радиоканал;
антенно-фидерные устройства;
система питания;
аккумуляторы и контроллер заряда;
солнечные батареи. 
система определения положения спутника; 
система коррекции его положения. </p>


<p>В качестве полезной нагрузки кубсата может выступать фотокамера, различные датчики для измерения, например, магнитного поля Земли.
Часто наноспутники используют для испытания новых технологических решений в условиях реального космоса, чтобы потом применять их в более крупных космических аппаратах.
А в 2006 году в рамках миссии GeneSat-1 на борту кубсата обеспечивалась жизнедеятельность бактерий (рис. 2).</p>
{% endblock%}
