# Библиотека для работы с сигналами и событиями
blinker==1.7.0

# Библиотека для создания командной строки в Python-приложениях
click==8.1.7

# Микрофреймворк для создания веб-приложений на Python
Flask==3.0.2

# Расширение Flask для аутентификации пользователей
Flask-Login==0.6.3

# Расширение Flask для работы с базой данных SQLAlchemy
Flask-SQLAlchemy==3.1.1

# Пакет, обеспечивающий переключение между корутинами (greenlets)
greenlet==3.0.3

# Утилиты для работы с безопасностью в Flask-приложениях
itsdangerous==2.1.2

# Шаблонизатор для генерации HTML-шаблонов
Jinja2==3.1.3

# Библиотека для безопасной работы с строками в шаблонах Jinja2
MarkupSafe==2.1.5

# ORM (объектно-реляционное отображение) для работы с базами данных в Python
SQLAlchemy==2.0.26

# Расширение для типовых расширений языка Python
typing_extensions==4.9.0

# Утилиты для создания веб-приложений в Python
Werkzeug==3.0.1