<!DOCTYPE html> <!-- Объявление типа документа -->
<html lang="ru"> <!-- Начало тега HTML с указанием языка страницы -->

<head> <!-- Начало секции заголовка страницы -->
  <meta charset="UTF-8"> <!-- Установка кодировки символов -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Метаданные для адаптивного отображения на разных устройствах -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- Подключение внешнего CSS файла -->
  <title>{% block title %}{% endblock%}</title> <!-- Заголовок страницы, подверженный изменению через наследование -->

</head> <!-- Завершение секции заголовка страницы -->

<body> <!-- Начало тега body, содержащего основное содержимое страницы -->
  <header class="header"> <!-- Начало секции заголовка страницы -->
    <ul class="ul-menu-item"> <!-- Начало списка меню -->
      <li class="li-menu-item"><a href="home">Главная</a></li> <!-- Элемент списка с ссылкой на Главную страницу -->
      <li class="li-menu-item"><a href="partners">Партнеры</a></li>
      <!-- Элемент списка с ссылкой на страницу Партнеров -->
      <li class="li-menu-item"><a href="about">О нас!</a></li> <!-- Элемент списка с ссылкой на страницу О нас -->
      <li class="li-menu-item"><a href="#">Задать вопрос</a></li>
      <!-- Элемент списка с ссылкой на форму для задания вопроса -->
    </ul> <!-- Завершение списка меню -->
  </header> <!-- Завершение секции заголовка страницы -->

  {% block body %}{% endblock%} <!-- Основное содержимое страницы, подверженное изменению через наследование -->

  <div class="main-js"> <!-- Блок скриптов -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- Подключение внешнего JavaScript файла -->
  </div> <!-- Завершение блока скриптов -->
</body> <!-- Завершение тега body -->

</html> <!-- Завершение тега HTML -->