<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Solar_system.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="Stars absolute top-0 left-0 w-px h-px"></div>
    <main class="Container flex flex-col z-10 w-11/12 max-w-sm">
      <span class="Container_info fixed top-8 left-2/4 transform -translate-x-2/4 -translate-y-2/4 opacity-0">- Click anywere to go back -</span>
      <button class="w-full mb-5 px-6 py-3 border-2 rounded-xl">Mercury</button>
      <div class="Planet Planet__mercury">
        <div class="Planet_visual fixed top-1/2 left-1/2 w-12 h-12 rounded-full"></div>
        <div class="Planet_infoContainer fixed top-1/2 transform translate-y-24">
          <div class="Planet_info"></div>
        </div>
      </div>
      <button class="w-full mb-5 px-6 py-3 border-2 rounded-xl">Venus</button>
      <div class="Planet Planet__venus">
        <div class="Planet_visual fixed top-1/2 left-1/2 w-20 h-20 rounded-full"></div>
        <div class="Planet_infoContainer fixed top-1/2 transform translate-y-24">
          <div class="Planet_info"></div>
        </div>
      </div>
      <button class="w-full mb-5 px-6 py-3 border-2 rounded-xl">Earth</button>
      <div class="Planet Planet__earth">
        <div class="Planet_visual fixed top-1/2 left-1/2 w-20 h-20 rounded-full"></div>
        <div class="Planet_infoContainer fixed top-1/2 transform translate-y-24">
          <div class="Planet_info"></div>
        </div>
      </div>
      <button class="w-full mb-5 px-6 py-3 border-2 rounded-xl">Mars</button>
      <div class="Planet Planet__mars">
        <div class="Planet_visual fixed top-1/2 left-1/2 w-12 h-12 rounded-full"></div>
        <div class="Planet_infoContainer fixed top-1/2 transform translate-y-24">
          <div class="Planet_info"></div>
        </div>
      </div>
      <button class="w-full mb-5 px-6 py-3 border-2 rounded-xl">Jupiter</button>
      <div class="Planet Planet__jupiter">
        <div class="Planet_visual fixed top-1/2 left-1/2 w-72 h-72 rounded-full"></div>
        <div class="Planet_infoContainer fixed top-1/2 transform translate-y-48">
          <div class="Planet_info"></div>
        </div>
      </div>
      <button class="w-full mb-5 px-6 py-3 border-2 rounded-xl">Saturn</button>
      <div class="Planet Planet__saturn">
        <div class="Planet_visual fixed top-1/2 left-1/2 w-60 h-60 rounded-full"><div></div></div>
        <div class="Planet_infoContainer fixed top-1/2 transform translate-y-48">
          <div class="Planet_info"></div>
        </div>
      </div>
      <button class="w-full mb-5 px-6 py-3 border-2 rounded-xl">Uranus</button>
      <div class="Planet Planet__uranus">
        <div class="Planet_visual fixed top-1/2 left-1/2 w-28 h-28 rounded-full"></div>
        <div class="Planet_infoContainer fixed top-1/2 transform translate-y-24">
          <div class="Planet_info"></div>
        </div>
      </div>
      <button class="w-full mb-5 px-6 py-3 border-2 rounded-xl">Neptune</button>
      <div class="Planet Planet__neptune">
        <div class="Planet_visual fixed top-1/2 left-1/2 w-28 h-28 rounded-full"></div>
        <div class="Planet_infoContainer fixed top-1/2 transform translate-y-24">
          <div class="Planet_info"></div>
        </div>
      </div>
    </main>
    <a class="Me" href="https://bit.ly/m/JordanDey" target="_top">Pen by Jordan Dey</a>
    
</body>
</html>






