{% extends 'base/base.html' %}

{% block title %}
Хакерские утилиты
{% endblock%}
{% block individual_style %}
<style>
    p {
        padding-bottom: 1em;
    }

    h2 {
        padding-bottom: 1em;
    }

    .container {
        display: flex;
    }

    .all_left {
        width: 50%;
        /* Устанавливаем ширину 50%, чтобы обеспечить двум блокам равные части горизонтального пространства */
    }

    .all_right {
        width: 50%;
        /* Устанавливаем ширину 50% */
    }

    .slide {
        margin-bottom: 10em;

    }
</style>
{% endblock%}

{% block body %}
<div>
    <h1>Хакерские утилиты</h1>

    <div class="slide">
        <div class="container">
            <div class="all_left">
                <h2>John the Ripper</h2>
                <p>
                    — это инструмент
                    с открытым исходным кодом
                    для взлома паролей методом перебора.
                </p>
                <p>
                    Установка утилиты:
                    aptitude install john
                </p>
            </div>
            <div class="all_right">
                <img src="static/images/JohntheRipper.jpeg" alt="">
            </div>
        </div><!-- container -->
    </div><!--slide -->
    <div class="slide">
        <div class="container">
            <div class="all_left">
                <h2>Hydra</h2>
                <p>Обратная связьTHC Hydra — это программное обеспечение для взлома
                    аутентификации с помощью перебора. Если John The Ripper можно использовать для проверки
                    надёжности паролей офлайн, то Hydra аналогичный
                    инструмент, работающий онлайн.</p>


            </div>
        </div>
        <div class="container">
            <div class="all_left">
<h3>Maltego</h3>
            <p>Maltego — это инструмент не для тестирования
                на проникновение, а скорее для аналитики.
                Он позволяет найти связи между различными
                субъектами и объектами.</p>
            <p>Запуск из терминала: набираем maltego и нажимаем Enter.Для использования этой утилиты необходима
                регистрация.Далее открываем свою почту и подтверждаем аккаунт,
                кликнув по ссылке активации</p>


        </div>
    </div class="slide">
    <div class="container">
        <div class="all_left">
            <h4>Metasploit</h4>
            <p>Metasploit — это очень популярная платформа
                для тестирования безопасности систем.Это самая мощная платформа для разработки,
                тестирования и использования кода эксплойтов.
                Она содержит инструменты, которые позволяют
                объединить работу различных компонентов
            </p>


        </div>
        div class="slide">
        <div class="container">
            <div class="all_left">
                <h5>Nikto</h5>
                            <p>Nikto — классический инструмент для сканирования
                                серверов на наличие уязвимостей. Программа проводит поиск по базе более 6 000
                                потенциально опасных файлов, выявляет устаревшие
                                версии сетевого ПО для более чем 1 300 программ,
                                проверяет конфигурационные файлы сервера.</p>
                            <p>Nikto — классический инструмент для сканирования
                                серверов на наличие уязвимостей. Программа проводит поиск по базе более 6 000
                                потенциально опасных файлов, выявляет устаревшие
                                версии сетевого ПО для более чем 1 300 программ,
                                проверяет конфигурационные файлы сервера.</p>
                            <p>Установка утилиты: sudo apt install nikto</p>
                            <p>У Nikto есть много вариантов использования, но для наших
                                целей понадобится базовый синтаксис <IP или hostname> с фактическим IP-адресом или
                                    именем хоста без угловых
                                    скобок:
                                    nikto -h <IP or hostname>nikto -h <IP or hostname> -ssl — если у сайта есть SSL</p>
                            <p>Можно использовать Nikto в локальной сети, чтобы найти
                                embedded-сервера, такие как страница логина роутера
                                или HTTP-сервис на другой машине, который представляет
                                из себя просто сервер без веб-сайта. Чтобы узнать IP-адрес, нужно использовать ifconfig
                            </p>
                            <p>Важное преимущество Nikto: информацию, полученную
                                при сканировании, можно экспортировать в формат,
                                который сможет прочитать Metasploit. Для этого в конец команд для выполнения
                                сканирования,
                                приведённых выше, нужно добавить флаги -Format msf+</p>



        </div>

        {% endblock%}
