{% extends 'base/base.html' %}

{% block title %}
Хакерские утилиты
{% endblock %}

{% block body %}
<h1>Хакерские утилиты</h1>
<div>
    <h2>John the Ripper</h2>
    <h2>Джон Потрошитель</h2>
    <p>— это инструмент
        с открытым исходным кодом
        для взлома паролей методом перебора.
    </p>
    <p>
        Установка утилиты:
        aptitude install john
    </p>
</div>
<div>
    <h2>Hydra</h2>
    <h2>Гидра</h2>

    <p>
    <h3>THC Hydra </h3>это программное обеспечение для взлома
    аутентификации с помощью перебора. Если John The Ripper можно использовать для проверки
    надёжности паролей офлайн, то Hydra аналогичный
    инструмент, работающий онлайн.

    </p>
    <p>
        Запуск утилиты:
        $ hydra опции логины пароли -s порт адрес_цели модуль
        параметры_модуля

    </p>
    <p>
        Простейший вариант использования
    <h3>HC-Hydra</h3>T — найти
    в интернете стандартные списки паролей для Brute Force,
    подключить их при помощи опций и ждать результата. Также понадобятся данные сервера, на который будет
    осуществляться атака. Перечни паролей подходят и от других программ вроде <h3>John the Ripper.</h3>

    </p>

    <div>
        <h2>Maltego</h2>
        <h2>Мальтего</h2>
        <p>
        <h3>Maltego</h3> — это инструмент не для тестирования
        на проникновение, а скорее для аналитики.
        Он позволяет найти связи между различными
        субъектами и объектами
        </p>
        <p>
        <div>Maltego позволяет вычислять сетевую
            и доменную информацию, такую как:</div>
        <div>
            <ul>
                <li>доменные имена</li>
                <li>Whois-информация</li>
                <li>DNS-записи</li>
                <li>Netblocks</li>
                <li>IP-адреса и т. д.</li>
            </ul>
        </div>
        <div>
            <p>Запуск из терминала: набираем maltego и нажимаем Enter.Для использования этой утилиты необходима регистрация.Далее открываем свою почту и подтверждаем аккаунт, 
                кликнув по ссылке активации. 
                </p>
        </div>


        </p>
    </div>




</div>



{% endblock %}