{% extends 'base/base.html' %}  <!-- Наследует с  базового шаблона -->
<!-- (можно переопределить в дочерних шаблонах) -->
{% block title %}{% endblock %} <!-- Заголовок страницы -->
{% block individual_style %}
<style>
     p {
      padding-bottom: 1em;
   }

   h2 {
      padding-bottom: 1em;
   }

   .container {
      display: flex;
   }

   .all_left {
      width: 30%;
      /* Устанавливаем ширину 50%, чтобы обеспечить двум блокам равные части горизонтального пространства */
   }

   .all_right {
      width: 70%;
      /* Устанавливаем ширину 50% */
   }
   .test{
      padding: 100px;
      background-color: rgb(18, 192, 76);
   } 


</style>
{% endblock %} <!-- Индивидуальный стиль страницы. Вставьте блок в нужную страницу и в него тег <style></style> -->
{% block body %}
    <div>
        <div class="container">
            <div class="slide">
                <div class="all_left">материал слева</div>
                <div class="all_right">материал справа</div>
            </div>
        </div>
    </div>

    
{% endblock %}
