{% extends 'base/base.html' %}  <!-- Наследует с  базового шаблона -->
<!-- (можно переопределить в дочерних шаблонах) -->
{% block title %}{% endblock %} <!-- Заголовок страницы -->
{% block individual_style %}
<style>
     p {
      padding-bottom: 1em;
   }

   h2 {
      padding-bottom: 1em;
   }

   .container {
      display: flex;
   }

   .all_left {
      width: 30%;
      /* Устанавливаем ширину 50%, чтобы обеспечить двум блокам равные части горизонтального пространства */
   }

   .all_right {
      width: 70%;
      /* Устанавливаем ширину 50% */
   }
   .test{
      padding: 100px;
      background-color: rgb(14, 224, 14);
   } 


</style>
{% endblock %} <!-- Индивидуальный стиль страницы. Вставьте блок в нужную страницу и в него тег <style></style> -->
{% block body %}
    <div>
<h1>Приоритеты операторов Python</H1>
   <p></p>
   
      <table border ="5">
          <thead>
               <tr>
                    <th colspan ="3"><h2>Приоритеты</h2><th>
               <tr>
           <thead>
           <tbody>
                <tr>
                   <td>Оператор</td>
                    <td>Описание</td>
                </tr>
                    <td>1</td>
                     <td>()</td>
                     <td>Скобки</td>
                  <tr>
                 <tr>
                    <td>2</td>
                    <td>**</td>
                    <td>Возведение в степень</td>
                  </tr>
                 <tr>
                     <td>3</td>
                     <td>+x,-x,~x</td>
                     <td>Унарный плюсб минус и битовое отрицание</td>
                  </tr>
                 </tr>
                     <td>4</td>
                     <td>*,/,//,%</td>
                     <td>Умножение,деление,целочисленное деление,остаток от деления </td>
                  <tr>
                 <tr>

               </tr>
                  </tr>




           </tbody>


   <table> 

      
      

   <div>   

   <div>


{% endblock %} <!-- Основное содержимое страницы  -->
