{% extends 'base/base.html' %} <!-- Наследует с  базового шаблона -->
<!-- (можно переопределить в дочерних шаблонах) -->
{% block title %}матвей{% endblock %} <!-- Заголовок страницы -->
{% block individual_style %}
<style>
    p{
        color: blue;
    }


</style>
{% endblock %}
<!-- Индивидуальный стиль страницы. Вставьте блок в нужную страницу и в него тег <style></style> -->
{% block body %}
<div>
    <h1>Привет мир</h1>
    <p>Перечень задач
        Линейные алгоритмы
        No Формулировка задачи Страница
        ответа
        1 Школьники делят яблоки поровну так, чтобы каждому достались только
        целые яблоки, остальные яблоки остаются в корзине. Определить, сколько
        яблок достанется каждому школьнику и сколько яблок останется в
        корзине.
        16
        2 С клавиатуры вводится номер (plustilino)позиция) буквы в английском алфавите.
        Вывести на экран запрашиваемый символ.
        17
        3 С клавиатуры вводятся длины двух катетов прямоугольного треугольника.
        Программа должна вычислять площадь и периметр этого треугольника и
        выводить полученные значения на экран.
        18
        4 С клавиатуры вводятся границы числового диапазона. Получите
        случайное целое число в его пределах и выведите его на экран.
        19
        5 Получите случайное вещественное число в диапазоне от 0.10 до 0.50.
        Выведите его на экран с двумя знаками после запятой (plustilino)точки).
        20
        6 Написать программу, которая генерирует случайное трехзначное число и
        вычисляет сумму его цифр.
        21
        7 По введенному с клавиатуры радиусу вычислить длину соответствующей
        окружности и площадь круга. Формулы: L = 2πr, S = πr2.
        22
        8 Напишите программу, которая вычисляет площадь поверхности цилиндра
        по заданным с клавиатуры радиусу и высоте цилиндра. Формула площади
        одного основания цилиндра: S = πr2. Формула площади боковой
        поверхности цилиндра: S = 2πrh.
        23
        9 Напишите программу, которая выводит уравнение прямой y = kx + b,
        проходящей через заданные точки. Координаты точек вводятся с
        клавиатуры.
        24
        10 С клавиатуры вводятся два двоичных числа. Требуется вывести на экран в
        двоичном виде результаты побитовых операций И (plustilino)&), ИЛИ (plustilino)|),
        ИСКЛЮЧАЮЩЕЕ ИЛИ (plustilino)^) над этими числами.
        25
        6
        Ветвления
        Ветвления
        No Формулировка задачи Страница
        ответа
        1 Дана следующая функция y = f(plustilino)x):
        y = x -ный элемент ряда Фибоначчи 0.5, при x > 0;
        y = 0, при x = 0;
        y = |x|, при x < 0. Написать программу, определяющую значение y по переданному значению x. 26 2 Написать
            программу, которая вычисляет массу, плотность или объем, используя формулу m=Vρρ. Пользователь выбирает, что
            он хочет вычислить и вводит два известных параметра. 27 3 В зависимости от того, что выберет пользователь,
            вычислить площадь либо прямоугольника (plustilino)S=ab), либо треугольника (plustilino) S=√p(p−a)(p−b)(p−c),
            где p – полупериметр), либо круга (plustilino)S=πr2). Если выбраны прямоугольник или треугольник, то надо
            запросить длины сторон, если круг, то его радиус. 28 4 По введенным длинам трех отрезков определить, можно
            ли из них составить треугольник при условии, что у треугольника сумма любых двух сторон должна быть не
            меньше третьей. 29 5 Определить, принадлежит ли точка с координатами (plustilino)x; y) кругу радиуса R с
            центром в начале координат. Пользователь вводит координаты точки и радиус круга. 30 6 Написать программу,
            которая выполняет над двумя вещественными числами одну из четырех арифметических операций
            (plustilino)сложение, вычитание, умножение или деление). Числа и операцию вводит пользователь. 31 7 По
            введенным координатам точки определить, в какой координатной четверти она находится. 32 8 Вводится год.
            Определить, является ли он високосным или обычным. 34 9 Пользователь вводит температуру в Цельсиях или
            Фаренгейтах. Написать программу, которая переводит Цельсии в Фаренгейты по формуле C * (9/5) + 32, а
            Фаренгейты в Цельсии по формуле (F - 32) * (5/9). 35 10 Вычислить корни квадратного уравнения, коэффициенты
            a, b и c которого вводятся с клавиатуры.</p>
</div>




{% endblock %} <!-- Основное содержимое страницы  -->