{% extends 'base/base.html' %}

{% block title %}
Теорема Байеса
{% endblock%}


{% block body %}
<h1>Спасение моряков с помощью
теоремы Байеса</h1>
<div >
    <p>
        Где-то в 1740 году британский пресвитерианский
        священник Томас Байес решил математически до-
        казать существование Бога. Его гениальное решение,
        ныне известное как теорема Байеса (она же формула
        Байеса), сейчас считается одной из наиболее успешных
        статистических концепций всех времен. Однако на протя-
        жении 200 лет ее по большей части игнорировали, потому что
        сложные математические вычисления было очень трудно производить вручную.
        Для того чтобы в полной мере оценить потенциал теоремы Байеса, потребова-
        лось изобрести компьютер. Теперь благодаря нашим быстрым процессорам она
        стала ключевым элементом в науке о данных и в сфере машинного обучения.
    </p>
</div>


{% endblock%}