{% extends 'base/base.html' %} <!-- Наследует с  базового шаблона -->
<!-- (можно переопределить в дочерних шаблонах) -->
{% block title %}{% endblock %} <!-- Заголовок страницы -->
{% block individual_style %}{% endblock %}
<!-- Индивидуальный стиль страницы. Вставьте блок в нужную страницу и в него тег <style></style> -->
{% block body %}
<h1>Cистема контроля версий</h1>
<div>
    <h2>
        Что такое система контроля версий?
    </h2>
    <p>
        Программное обеспечение, позволяющее
        сохранять информацию обо всех изменениях
        программного кода и работать с такими
        изменениями.
    </p>
</div>
<div>
    <h2>
        Сохранение версий
        программного кода
    </h2>
</div>
<div>
    <h2>
        Возможность
        командной работы
    </h2>

</div>
<div>
    <h2>
        Зачем нужны
        системы контроля версий?
    </h2>
    <ul>
        <li>
            Сохранение промежуточных
            версий проекта (истории
            изменений)
        </li>
        <li>
            Обеспечение возможности
            командной работы
            над проектом
        </li>
    </ul>
</div>
<div>
    <h2>
        Разнообразие
        систем контроля версий
    </h2>
</div>
<div>
    <h2>
        Почему Git?
    </h2>
    <p>
    <ul>
        <li>Бесплатный
            и с открытым кодом</li>
        <li>Маленький и быстрый</li>
        <li>Понятная и удобная история</li>
        <li>Понятная система ветвления</li>
        <li>Распределённые репозитории</li>
        <li>Высокая популярность</li>
    </ul>
    </p>
</div>
<div>
    <h2>Система ветвления</h2>
    <p></p>
</div>
<div>
    <h2>
        Распределённые
        репозитории
    </h2>
    <p></p>
</div>
{% endblock %} <!-- Основное содержимое страницы  -->