<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IT Legion</title>
  <style>
    body {
      background-color: #121212;
      color: #FFFFFF;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #202020;
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin: 0;
    }

    h2 {
      text-align: center;
    }

    nav {
      background-color: #1a1a1a;
      padding: 10px;
      text-align: center;
    }

    nav a {
      color: #00FF00;
      text-decoration: none;
      padding: 10px;
    }

    nav a:hover {
      background-color: #00FF00;
      color: #121212;
    }

    section {
      padding: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      border: 1px solid #FFFFFF;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #1a1a1a;
    }

    td a {
      color: #00FF00;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <header>
    <h1>IT Legion</h1>
  </header>
  <nav>
    <a href="#GIT">Git</a>
    <a href="#HTML">HTML</a>
    <a href="#CSS">CSS</a>
    <a href="#JS">JavaScript</a>
    <a href="#Python">Python</a>
    <a href="#PHP">PHP</a>
    <a href="#C">C</a>
    <a href="#CSharp">C#</a>
    <a href="#CPlusPlus">C++</a>
    <a href="#Arduino">Arduino</a>
    <a href="#DB">Database</a>
    <a href="#DS">Data Science</a>
  </nav>
  <section id="JS">
    <h2>JavaScript</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th colspan="5">
              <h2>Зарезервированные слова</h2>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- 1 линия -->
            <td><a href="#the-break-keyword"><code>break</code></a></td>
            <td><a href="#the-case-keyword"><code>case</code></a></td>
            <td><a href="#the-catch-keyword"><code>catch</code></a></td>
            <td><a href="#the-class-keyword"><code>class</code></a></td>
            <td><a href="#the-const-keyword"><code>const</code></a></td>
          </tr>
          <tr>
            <!-- 2 линия -->
            <td><a href="#the-continue-keyword"><code>continue</code></a></td>
            <td><a href="#the-debugger-keyword"><code>debugger</code></a></td>
            <td><a href="#the-default-keyword"><code>default</code></a></td>
            <td><a href="#the-delete-keyword"><code>delete</code></a></td>
            <td><a href="#the-do-keyword"><code>do</code></a></td>
          </tr>
          <tr>
            <!-- 3 линия -->
            <td><a href="#the-else-keyword"><code>else</code></a></td>
            <td><a href="#the-export-keyword"><code>export</code></a></td>
            <td><a href="#the-extends-keyword"><code>extends</code></a></td>
            <td><a href="#the-finally-keyword"><code>finally</code></a></td>
            <td><a href="#the-for-keyword"><code>for</code></a></td>
          </tr>
          <tr>
            <!-- 4 линия -->
            <td><a href="#the-function-keyword"><code>function</code></a></td>
            <td><a href="#the-if-keyword"><code>if</code></a></td>
            <td><a href="#the-import-keyword"><code>import</code></a></td>
            <td><a href="#the-in-keyword"><code>in</code></a></td>
            <td><a href="#the-instanceof-keyword"><code>instanceof</code></a></td>
          </tr>
          <tr>
            <!-- 5 линия -->
            <td><a href="#the-let-keyword"><code>let</code></a></td>
            <td><a href="#the-new-keyword"><code>new</code></a></td>
            <td><a href="#the-return-keyword"><code>return</code></a></td>
            <td><a href="#the-super-keyword"><code>super</code></a></td>
            <td><a href="#the-switch-keyword"><code>switch</code></a></td>
          </tr>
          <tr>
            <!-- 6 линия -->
            <td><a href="#the-this-keyword"><code>this</code></a></td>
            <td><a href="#the-throw-keyword"><code>throw</code></a></td>
            <td><a href="#the-try-keyword"><code>try</code></a></td>
            <td><a href="#the-typeof-keyword"><code>typeof</code></a></td>
            <td><a href="#the-var-keyword"><code>var</code></a></td>
          </tr>
          <tr>
            <!-- 7 линия -->
            <td><a href="#the-void-keyword"><code>void</code></a></td>
            <td><a href="#the-while-keyword"><code>while</code></a></td>
            <td><a href="#the-with-keyword"><code>with</code></a></td>
            <td><a href="#the-yield-keyword"><code>yield</code></a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section id="the-break-keyword">
    <h4>break</h4>
    <p>Выход из цикла или оператора switch.</p>
  </section>
  <section id="the-case-keyword">
    <h4>case</h4>
    <p>Определяет блок кода в операторе switch.</p>
  </section>
  <section id="the-catch-keyword">
    <h4>catch</h4>
    <p>Определяет блок кода для обработки исключений.</p>
  </section>
  <section id="the-class-keyword">
    <h4>class</h4>
    <p>Определяет класс.</p>
  </section>
  <section id="the-const-keyword">
    <h4>const</h4>
    <p>Объявляет константу.</p>
  </section>
  <section id="the-continue-keyword">
    <h4>continue</h4>
    <p>Переход к следующей итерации цикла.</p>
  </section>
  <section id="the-debugger-keyword">
    <h4>debugger</h4>
    <p>Останавливает выполнение и вызывает функцию отладки.</p>
  </section>
  <section id="the-default-keyword">
    <h4>default</h4>
    <p>Определяет блок кода по умолчанию в операторе switch.</p>
  </section>
  <section id="the-delete-keyword">
    <h4>delete</h4>
    <p>Удаляет объект, свойство объекта или элемент массива.</p>
  </section>
  <section id="the-do-keyword">
    <h4>do</h4>
    <p>Определяет цикл do-while.</p>
  </section>
  <section id="the-else-keyword">
    <h4>else</h4>
    <p>Определяет блок кода, который будет выполнен, если условие в if ложно.</p>
  </section>
  <section id="the-export-keyword">
    <h4>export</h4>
    <p>Экспортирует модуль или часть модуля.</p>
  </section>
  <section id="the-extends-keyword">
    <h4>extends</h4>
    <p>Используется для создания дочернего класса на основе родительского.</p>
  </section>
  <section id="the-finally-keyword">
    <h4>finally</h4>
    <p>Определяет блок кода, который будет выполнен после блока try и catch.</p>
  </section>
  <section id="the-for-keyword">
    <h4>for</h4>
    <p>Определяет цикл с предопределенными условиями.</p>
  </section>
  <section id="the-function-keyword">
    <h4>function</h4>
    <p>Объявляет функцию.</p>
  </section>
  <section id="the-if-keyword">
    <h4>if</h4>
    <p>Определяет условный оператор.</p>
  </section>
  <section id="the-import-keyword">
    <h4>import</h4>
    <p>Импортирует модули или части модуля.</p>
  </section>
  <section id="the-in-keyword">
    <h4>in</h4>
    <p>Проверяет наличие свойства в объекте.</p>
  </section>
  <section id="the-instanceof-keyword">
    <h4>instanceof</h4>
    <p>Проверяет, является ли объект экземпляром класса.</p>
  </section>
  <section id="the-let-keyword">
    <h4>let</h4>
    <p>Объявляет локальную переменную с блочной областью видимости.</p>
  </section>
  <section id="the-new-keyword">
    <h4>new</h4>
    <p>Создает новый экземпляр объекта.</p>
  </section>
  <section id="the-return-keyword">
    <h4>return</h4>
    <p>Возвращает значение из функции.</p>
  </section>
  <section id="the-super-keyword">
    <h4>super</h4>
    <p>Вызывает конструктор родительского класса.</p>
  </section>
  <section id="the-switch-keyword">
    <h4>switch</h4>
    <p>Определяет оператор switch для многократного выбора.</p>
  </section>
  <section id="the-this-keyword">
    <h4>this</h4>
    <p>Ссылается на текущий объект.</p>
  </section>
  <section id="the-throw-keyword">
    <h4>throw</h4>
    <p>Выбрасывает исключение.</p>
  </section>
  <section id="the-try-keyword">
    <h4>try</h4>
    <p>Определяет блок кода для обработки исключений.</p>
  </section>
  <section id="the-typeof-keyword">
    <h4>typeof</h4>
    <p>Возвращает тип переменной или выражения.</p>
  </section>
  <section id="the-var-keyword">
    <h4>var</h4>
    <p>Объявляет переменную.</p>
  </section>
  <section id="the-void-keyword">
    <h4>void</h4>
    <p>Выражение, которое вычисляет значение undefined.</p>
  </section>
  <section id="the-while-keyword">
    <h4>while</h4>
    <p>Определяет цикл while с предусловием.</p>
  </section>
  <section id="the-with-keyword">
    <h4>with</h4>
    <p>Устанавливает область видимости для выражений.</p>
  </section>
  <section id="the-yield-keyword">
    <h4>yield</h4>
    <p>Приостанавливает и возобновляет выполнение генератора.</p>
  </section>
</body>

</html>
