/*<<---Стили для: Базовых тегов--->> */

/* Обнуляем отступы и поля для всех элементов на странице */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стили для заголовка первого уровня */
h1 {
    margin-top: 50px;
    /* Отступ сверху */
    text-align: center;
    /* Выравнивание текста по центру */
    margin-bottom: 25px;
    /* Отступ снизу */
}

/* Стили для основного контейнера страницы */
body {
    display: flex;
    /* Устанавливаем отображение в виде флекс-контейнера */
    flex-direction: column;
    /* Устанавливаем направление контейнера по вертикали */
    min-height: 100vh;
    /* Минимальная высота контейнера равная высоте видимой области окна браузера */
}


/*>>---Стили для: Базовых тегов  ---<< */



/*<<---Стили для: базовой шапки--->> */
.header {
    background-color: #333;
    /* Цвет фона */
    padding: 20px;
    /* Внутренний отступ */
    color: #d10d0d;
    /* Цвет текста */
    text-align: center;
    /* Выравнивание текста по центру */
}

/* Стили для элементов списка меню в базовой шапке */
.li-menu-item {
    display: inline-flex;
    /* Устанавливаем элементы списка в виде строчных флекс-элементов */
    list-style-type: none;
    /* Убираем стандартный маркер списка */
    padding-right: 10px;
    /* Отступ справа для элементов списка */
}

/* Стили для ссылок в элементах списка меню в базовой шапке */
.li-menu-item a {
    position: relative;
    /* Позиционирование элемента относительно своего обычного положения */
    display: inline-block;
    /* Устанавливаем отображение в виде блока */
    color: #03e9f4;
    /* Цвет текста */
    text-decoration: none;
    /* Убираем подчеркивание текста */
    text-transform: uppercase;
    /* Преобразуем текст в верхний регистр */
    letter-spacing: 2px;
    /* Расстояние между буквами */
    overflow: hidden;
    /* Скрытие содержимого, выходящего за пределы блока */
    margin-right: 5px;
    /* Отступ справа */
}

/* Стили для ссылок при наведении курсора */
.li-menu-item a:hover {
    background: #03e9f4;
    /* Изменение фона при наведении */
    color: #050801;
    /* Изменение цвета текста при наведении */
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    /* Тень при наведении */
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    /* Добавление отражения */
}

/* Стилизация первой ссылки */
a:nth-child(1) {
    filter: hue-rotate(270deg);
    /* Изменение оттенка цвета */
}

/* Стилизация второй ссылки */
a:nth-child(2) {
    filter: hue-rotate(110deg);
    /* Изменение оттенка цвета */
}

/* Стилизация спанов внутри ссылок */
a span {
    position: absolute;
    /* Позиционирование абсолютно */
    display: block;
    /* Устанавливаем отображение в виде блока */
}

/* Стилизация первого спана */
a span:nth-child(1) {
    top: 0;
    /* Отступ сверху */
    left: 0;
    /* Отступ слева */
    width: 100%;
    /* Ширина 100% */
    height: 2px;
    /* Высота 2 пикселя */
    background: linear-gradient(90deg, transparent, #03e9f4);
    /* Градиентный фон */
    animation: animate1 1s linear infinite;
    /* Применение анимации */
}

/* Анимация для первого спана */
@keyframes animate1 {
    0% {
        left: -100%;
        /* Смещение влево */
    }

    50%,
    100% {
        left: 100%;
        /* Смещение вправо */
    }
}

/* Стилизация второго спана */
a span:nth-child(2) {
    top: -100%;
    /* Отступ сверху */
    right: 0;
    /* Отступ справа */
    width: 2px;
    /* Ширина 2 пикселя */
    height: 100%;
    /* Высота 100% */
    background: linear-gradient(180deg, transparent, #03e9f4);
    /* Градиентный фон */
    animation: animate2 1s linear infinite;
    /* Применение анимации */
    animation-delay: 0.25s;
    /* Задержка анимации */
}

/* Анимация для второго спана */
@keyframes animate2 {
    0% {
        top: -100%;
        /* Смещение вверх */
    }

    50%,
    100% {
        top: 100%;
        /* Смещение вниз */
    }
}

/* Стилизация третьего спана */
a span:nth-child(3) {
    bottom: 0;
    /* Отступ снизу */
    right: 0;
    /* Отступ справа */
    width: 100%;
    /* Ширина 100% */
    height: 2px;
    /* Высота 2 пикселя */
    background: linear-gradient(270deg, transparent, #03e9f4);
    /* Градиентный фон */
    animation: animate3 1s linear infinite;
    /* Применение анимации */
    animation-delay: 0.50s;
    /* Задержка анимации */
}

/* Анимация для третьего спана */
@keyframes animate3 {
    0% {
        right: -100%;
        /* Смещение вправо */
    }

    50%,
    100% {
        right: 100%;
        /* Смещение влево */
    }
}

/* Стилизация четвертого спана */
a span:nth-child(4) {
    bottom: -100%;
    /* Отступ снизу */
    left: 0;
    /* Отступ слева */
    width: 2px;
    /* Ширина 2 пикселя */
    height: 100%;
    /* Высота 100% */
    background: linear-gradient(360deg, transparent, #03e9f4);
    /* Градиентный фон */
    animation: animate4 1s linear infinite;
    /* Применение анимации */
    animation-delay: 0.75s;
    /* Задержка анимации */
}

/* Анимация для четвертого спана */
@keyframes animate4 {
    0% {
        bottom: -100%;
        /* Смещение вниз */
    }

    50%,
    100% {
        bottom: 100%;
        /* Смещение вверх */
    }
}


/*>>---Стили для: базовой шапки---<<*/




/*<<---Стили для: Выбор  --->> */
.home-main-choice {
    margin-top: 50px;
    /* Отступ сверху */
    height: 250px;
    /* Высота */
    border-width: 2px;
    /* Ширина границы */
    border-style: solid;
    /* Стиль границы */
    border-color: green;
    /* Цвет границы */
}

.home-main-choice ul {
    height: 90%;
    /* Высота */
    list-style-type: none;
    /* Убираем стандартный маркер списка */
}

.home-main-choice ul li {
    display: inline-flex;
    /* Устанавливаем элементы списка в виде строчных флекс-элементов */
    padding-right: 10px;
    /* Отступ справа */
    text-align: center;
    /* Выравнивание текста по центру */
    border: 1px solid black;
    /* Граница */
    width: 30%;
    /* Ширина */
    height: 90%;
    /* Высота */
}

.home-main-choice ul li a {
    text-align: center;
    /* Выравнивание текста по центру */
}


/*<<---Стили для: --->> footer */
footer {
    width: 100%;
    /* Ширина */
    background-color: #333;
    /* Цвет фона */
    padding: 20px;
    /* Внутренний отступ */
    color: #fff;
    /* Цвет текста */
    text-align: center;
    /* Выравнивание текста по центру */
    position: fixed;
    /* Фиксированное позиционирование */
    bottom: 0;
    /* Расположение внизу */
}

/*>>---Стили для: footer  ---<< */