/*<<---Стили для: Тегов--->> */
h1{
    text-align: center;/* Центрируем текст */
}
/*>>---Стили для: Тегов  ---<< */



/*<<---Стили для: базовой шапки--->> */
.header{
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;





    /*Эти стили применяют границу к элементу
    border-width: 2px  ;/* Ширина границы 2 пикселя 
    border-style: solid;/* Стиль границы - сплошная линия 
    border-color: green;/* Цвет границы - зелёный */

    /* 
    Упрощённый вариант
    borber: 2px solid green 
    */

    /*background-color: chartreuse; /* Цвет заднего фона шапке */
}

/* Стили для списка сылок в базовой шапке */
.li-menu-item{
    display: inline-flex;/* Устанавливаем элементы списка в строчном направлении*/ 
    list-style-type:none ; /* Стиль маркера списка - отсутствие */
    padding-right: 10px; /* Отступ справа для элементов списка */
}

/* Стили для ссылок в базовой шапке*/
.li-menu-item a{
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: white; /* Цвет ссылок */
}

/* Стили для ссылок при наведении курсора */
.li-menu-item a:hover {
    color: blue; /* Изменяем цвет ссылок при наведении */
  }

/*>>---Стили для: базовой шапки---<<*/




/*<<---Стили для: Выбор  --->> */
.home-main-choice{
    margin-top: 50px;/*Отступ от верха*/

    height: 250px; /* Задаём высоту 250 пикселей */
    /*Эти стили применяют границу к элементу*/
    border-width: 2px  ;/* Ширина границы 2 пикселя */
    border-style: solid;/* Стиль границы - сплошная линия */
    border-color: green;/* Цвет границы - зелёный */
}

.home-main-choice ul {
    height: 90%; /* Высота каждого элемента списка на 90% от родительского контейнера */
   
    
    list-style-type: none; /* Убираем маркеры у списка */
}

.home-main-choice ul li{
    display: inline-flex;/* Устанавливаем элементы списка в строчном направлении*/ 
    padding-right: 10px; /* Отступ справа для элементов списка */
    text-align: center; /* Центрируем текст внутри элемента списка */
    border: 1px solid black; /* Пример границы для наглядности */
    width: 30%; /* Ширина каждого элемента списка на всю доступную ширину */
    height: 90%; /* Высота каждого элемента списка на 90% от родительского контейнера */
}

.home-main-choice ul li a{
    text-align: center; /* Центрируем текст внутри элемента списка */

}




/*<<---Стили для: --->> footer */
footer {
    background-color: #333;/* Фоновый цвет */
    padding: 20px; /* Внутренний отступ */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    position: absolute; /* Позиционирование абсолютно (относительно родителя с позиционированием) */
    bottom: 0; /* Расположение внизу */
    width: 100%; /* Ширина 100% */
}

/*>>---Стили для:  ---<< */