!DOCTYPE html>
<html>
<head>
    <title>Прикол для друга</title>
    <style>
        .square {
            width: 100px;
            height: 100px;
            animation: colorChange 1s infinite;
        }

        @keyframes colorChange {
            0% { background-color: red; }
            25% { background-color: blue; }
            50% { background-color: yellow; }
            75% { background-color: green; }
            100% { background-color: rgb(0, 0, 0); }
        }
    </style>
</head>
<body>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
</body>
</html>