{% extends 'base/base.html' %}

{% block title %}
Лекция - 1
{% endblock%}


{% block body %}


<h1>Привет мир!</h1>
<p>Существует традиция которая гласит о том что изучение любого языка программирования начинается с написания программы
    'Привет мир'</p>
<p><b>Python</b> хорош тем что для написания такой программы нам потребуется всего одна встроенная функция </p>
<div><p style="
    display: inline;
    margin: 25px;
    background-color: blanchedalmond;
    border-width: 2px ;
    border-style: solid;">
    <b>
        print("Привет мир!")
    </b>
</p></div>
<p>Вот и вся магия</p>
<h3 style="margin: 5px;">4 типа данных</h3>
<ul style="margin: 5px;">
    <li>
        <p><b>string:</b> Строчное значение из себя представляет набор символов</p>
    </li>
    <li>
        <p><b>integer:</b> Целочисленное число представляет из себя число</p>
    </li>
    <li>
        <p><b>floot:</b> Числа с плавующей точкой </p>
    </li>
    <li>
        <p><b>bool:</b> Тип данных выражает своё значение в виде правды или ложь</p>
    </li> 
</ul>







{% endblock%}