{% extends 'base/base.html' %}

{% block title %}
Теорема Байеса
{% endblock%}
{% block individual_style %}
<style>
    p {
        padding-bottom: 1em;
    }

    h2 {
        padding-bottom: 1em;
    }

    .container {
        display: flex;
    }

    .all_left {
        width: 50%;
        /* Устанавливаем ширину 50%, чтобы обеспечить двум блокам равные части горизонтального пространства */
    }

    .all_right {
        width: 50%;
        /* Устанавливаем ширину 50% */
    }
</style>
{% endblock%}


{% block body %}
<h1>Спасение моряков с помощью
    теоремы Байеса</h1>
<div>
    <div class="slade">
        <p>
            Где-то в 1740 году британский пресвитерианский
            священник Томас Байес решил математически до-
            казать существование Бога. Его гениальное решение,
            ныне известное как теорема Байеса (она же формула
            Байеса), сейчас считается одной из наиболее успешных
            статистических концепций всех времен. Однако на протя-
            жении 200 лет ее по большей части игнорировали, потому что
            сложные математические вычисления было очень трудно производить вручную.
            Для того чтобы в полной мере оценить потенциал теоремы Байеса, потребова-
            лось изобрести компьютер. Теперь благодаря нашим быстрым процессорам она
            стала ключевым элементом в науке о данных и в сфере машинного обучения.
        </p>
        <p>
            Поскольку правило Байеса дает математически верный способ учитывать но-вые данные и пересчитывать оценку
            вероятности события, оно применяется практически во всех областях деятельности человека, начиная со взлома
            кодов
            и прогноза, кто победит на президентских выборах, и заканчивая расчетом того, как увеличится число инфарктов
            при
            повышении холестерина. Перечень обла-стей, в которых применяется теорема Байеса, с легкостью займет целую
            главу
            книги. Но так как для нас важнее всего спасение жизни людей, мы рассмотрим, как использовать эту теорему для
            помощи потерявшимся морякам.
        </p>
        <p>
            В этой главе мы создадим игру-симуляцию поисково-спасательной операции. Игроки, действующие от лица
            спасателей
            береговой охраны, будут использовать теорему Байеса, чтобы принять решения, которые позволят как можно
            быстрее
            обнаружить моряков. Мы начнем с известных инструментов из области data science и компьютерного зрения —
            библиотеки Open Source Computer Vision Library (OpenCV) и NumPy.

        </p>
    </div>
    <div class="slide">
        <div class="container">
            <div class="all_left">
                <h2>Теорема Байеса</h2>
                <p>Теорема Байеса помогает исследователям определить вероятность какого-либо события при
                    условии, что произошло другое взаимосвязанное с ним событие. Как сказал великий французский
                    математик
                    Лаплас: «Вероятность причины с учетом события пропорциональна вероятности события с учетом его
                    причины».
                    Базовая формула такова:</p>
            </div><!--all_left-->
            <div class="all_right">
                <img src="static/images/Теорема_Байеса.png" alt="">
            </div><!--all_right-->
        </div><!-- container-->
        <p>Здесь A — это гипотеза, а В — это данные. P(A/B) означает вероятность А с уче-том В. Предположим, нам
            известно,
            что конкретный тест на некий вид рака не всегда точен и может давать ложноположительные результаты, которые
            указы-вают, что рак у пациента есть, хотя на самом деле его нет. Выражение Байеса в таком случае выглядит
            так:
        </p>
        <img src="static/images/Снимок экрана 2024-03-28 в 18.43.36.png" alt="">
        <p>
            Начальная вероятность будет основана на клинических исследованиях. Например, 800 из 1000 человек, болеющих
            раком, могут получить положитель-ный результат, а 100 из 1000 — ошибочный. На основе показателей
            заболеваемо-сти общая вероятность наличия у конкретного человека рака может составлять всего 50 из 10 000.
            Итак, если общая вероятность наличия рака мала, а общая вероятность получения положительного теста
            относительно высока, то вероят-ность наличия рака при положительном тесте снижается. Если в исследованиях
            зафиксирована частота ошибочных результатов тестирования, то правило Байеса может скорректировать оценку
            измерений
        </p>
        
       

    </div><!--slide-->







</div>



{% endblock%}