<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IT Legion</title>
  <style>
    body {
      background-color: #121212;
      color: #FFFFFF;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #202020;
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin: 0;
    }

    h2 {
      text-align: center;
    }

    nav {
      background-color: #1a1a1a;
      padding: 10px;
      text-align: center;
    }

    nav a {
      color: #00FF00;
      text-decoration: none;
      padding: 10px;
    }

    nav a:hover {
      background-color: #00FF00;
      color: #121212;
    }

    section {
      padding: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      border: 1px solid #FFFFFF;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #1a1a1a;
    }

    td a {
      color: #00FF00;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <header>
    <h1>IT Legion</h1>
  </header>
  <nav>
    <a href="#GIT">Git</a>
    <a href="#HTML">HTML</a>
    <a href="#CSS">CSS</a>
    <a href="#JS">JavaScript</a>
    <a href="#Python">Python</a>
    <a href="#PHP">PHP</a>
    <a href="#C">C</a>
    <a href="#CSharp">C#</a>
    <a href="#CPlusPlus">C++</a>
    <a href="#Arduino">Arduino</a>
    <a href="#DB">Database</a>
    <a href="#DS">Data Science</a>
  </nav>
  <section id="Python">
    <h2>Python</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th colspan="5">
              <h2>Зарезервированные слова</h2>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <!-- 1 линия -->
            <td><a href="#the-true-and-false-keywords"><code>True</code></a></td>
            <td><a href="#the-is-keyword"><code>is</code></a></td>
            <td><a href="#the-from-keyword"><code>from</code></a></td>
            <td><a href="#the-try-keyword"><code>try</code></a></td>
            <td><a href="#the-del-keyword"><code>del</code></a></td>
          </tr>
          <tr>
            <!-- 2 линия -->
            <td><a href="#the-true-and-false-keywords"><code>False</code></a></td>
            <td><a href="#the-not-keyword"><code>not</code></a></td>
            <td><a href="#the-import-keyword"><code>import</code></a></td>
            <td><a href="#the-except-keyword"><code>except</code></a></td>
            <td><a href="#the-raise-keyword"><code>raise</code></a></td>
          </tr>
          <tr>
            <!-- 3 линия -->

            <td><a href="#the-if-keyword"><code>if</code></a></td>
            <td><a href="#the-for-keyword"><code>for</code></a></td>
            <td><a href="#the-class-keyword"><code>class</code></a></td>
            <td><a href="#the-finally-keyword"><code>finally</code></a></td>
            <td><a href="#the-global-keyword"><code>global</code></a></td>
          </tr>
          <tr>
            <!-- 4 линия -->

            <td><a href="#the-elif-keyword"><code>elif</code></a></td>
            <td><a href="#the-while-keyword"><code>while</code></a></td>
            <td><a href="#the-as-keyword"><code>as</code></a></td>
            <td><a href="#the-assert-keyword"><code>assert</code></a></td>
            <td><a href="#the-async-keyword"><code>async</code></a></td>
          </tr>
          <tr>
            <!-- 5 линия -->

            <td><a href="#the-else-keyword"><code>else</code></a></td>
            <td><a href="#the-continue-keyword"><code>continue</code></a></td>
            <td><a href="#the-def-keyword"><code>def</code></a></td>
            <td><a href="#the-lambda-keyword"><code>lambda</code></a></td>
            <td><a href="#the-nonlocal-keyword"><code>nonlocal</code></a></td>
          </tr>
          <tr>
            <!-- 6 линия -->
            <td><a href="#the-and-keyword"><code>and</code></a></td>
            <td><a href="#the-break-keyword"><code>break</code></a></td>
            <td><a href="#the-return-keyword"><code>return</code></a></td>
            <td><a href="#the-in-keyword"><code>in</code></a></td>
            <td><a href="#the-with-keyword"><code>with</code></a></td>
          </tr>
          <tr>
            <!-- 7 линия -->
            <td><a href="#the-or-keyword"><code>or</code></a></td>
            <td><a href="#the-none-keyword"><code>None</code></a></td>
            <td><a href="#the-pass-keyword"><code>pass</code></a></td>
            <td><a href="#the-await-keyword"><code>await</code></a></td>
            <td><a href="#the-yield-keyword"><code>yield</code></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section id="the-true-and-false-keywords">
    <h4>True и False</h4>
    <p>Ключевые слова <code>True</code> и <code>False</code> используются для обозначения булевых значений в Python. Они представляют два значения логического типа: истину и ложь соответственно.</p>
  </section>
  <section id="the-none-keyword">
    <h4>None</h4>
    <p>Ключевое слово <code>None</code> используется для обозначения отсутствия значения или null-значения. Оно часто применяется в качестве значения по умолчанию для аргументов функций или для инициализации переменных, которым будет присвоено значение позже.</p>
  </section>
  <section id="the-and-keyword">
    <h4>and</h4>
    <p>Ключевое слово <code>and</code> используется для логического объединения двух выражений. Оно возвращает <code>True</code>, если оба выражения истинны, и <code>False</code> в противном случае.</p>
  </section>
  <section id="the-as-keyword">
    <h4>as</h4>
    <p>Ключевое слово <code>as</code> используется для присваивания псевдонима в таких конструкциях, как импортирование модулей с новым именем или использование менеджеров контекста с блоком <code>with</code>.</p>
  </section>
  <section id="the-assert-keyword">
    <h4>assert</h4>
    <p>Ключевое слово <code>assert</code> используется для отладки программ. Оно позволяет проверять условие, и если условие не выполняется, возникает исключение <code>AssertionError</code>.</p>
  </section>
  <section id="the-async-keyword">
    <h4>async</h4>
    <p>Ключевое слово <code>async</code> используется для объявления асинхронной функции, которая позволяет выполнять неблокирующие операции с помощью <code>await</code>.</p>
  </section>
  <section id="the-await-keyword">
    <h4>await</h4>
    <p>Ключевое слово <code>await</code> используется внутри асинхронной функции для приостановки выполнения до завершения <em>awaitable</em> объекта, такого как асинхронная функция или корутина.</p>
  </section>
  <section id="the-break-keyword">
    <h4>break</h4>
    <p>Ключевое слово <code>break</code> используется для выхода из ближайшего цикла <code>for</code> или <code>while</code> раньше, чем условие цикла станет ложным.</p>
  </section>
  <section id="the-continue-keyword">
    <h4>continue</h4>
    <p>Ключевое слово <code>continue</code> используется для пропуска текущей итерации цикла и перехода к следующей итерации.</p>
  </section>
  <section id="the-class-keyword">
    <h4>class</h4>
    <p>Ключевое слово <code>class</code> используется для объявления нового класса в Python. Классы позволяют создавать новые типы объектов, которые могут содержать данные и методы для работы с этими данными.</p>
  </section>
  <section id="the-def-keyword">
    <h4>def</h4>
    <p>Ключевое слово <code>def</code> используется для определения функции в Python. Оно задает блок кода, который может быть вызван по имени с использованием круглых скобок.</p>
  </section>
  <section id="the-del-keyword">
    <h4>del</h4>
    <p>Ключевое слово <code>del</code> используется для удаления объектов в Python. Оно может удалять переменные, элементы списков или словарей и т. д.</p>
  </section>
  <section id="the-elif-keyword">
    <h4>elif</h4>
    <p>Ключевое слово <code>elif</code> (сокращение от "else if") используется для проверки дополнительного условия в конструкции <code>if</code>.</p>
  </section>
  <section id="the-else-keyword">
    <h4>else</h4>
    <p>Ключевое слово <code>else</code> используется в конструкции <code>if</code> для выполнения блока кода, если все предшествующие условия не были истинными.</p>
  </section>
  <section id="the-except-keyword">
    <h4>except</h4>
    <p>Ключевое слово <code>except</code> используется для обработки исключений в блоке <code>try</code>. Оно указывает, какой код должен быть выполнен, если возникает исключение.</p>
  </section>
  <section id="the-finally-keyword">
    <h4>finally</h4>
    <p>Ключевое слово <code>finally</code> используется для определения блока кода, который будет выполнен независимо от того, возникло исключение в блоке <code>try</code> или нет.</p>
  </section>
  <section id="the-for-keyword">
    <h4>for</h4>
    <p>Ключевое слово <code>for</code> используется для создания циклов, которые повторяются для каждого элемента в последовательности, такой как список или строка.</p>
  </section>
  <section id="the-from-keyword">
    <h4>from</h4>
    <p>Ключевое слово <code>from</code> используется с <code>import</code> для импорта конкретных частей модуля.</p>
  </section>
  <section id="the-global-keyword">
    <h4>global</h4>
    <p>Ключевое слово <code>global</code> используется для объявления глобальных переменных внутри функции или другого блока кода.</p>
  </section>
  <section id="the-if-keyword">
    <h4>if</h4>
    <p>Ключевое слово <code>if</code> используется для проверки условия. Если условие истинно, выполняется блок кода, связанный с <code>if</code>.</p>
  </section>
  <section id="the-import-keyword">
    <h4>import</h4>
    <p>Ключевое слово <code>import</code> используется для импорта модулей в текущий скрипт.</p>
  </section>
  <section id="the-in-keyword">
    <h4>in</h4>
    <p>Ключевое слово <code>in</code> используется для проверки наличия элемента в последовательности, такой как список или строка.</p>
  </section>
  <section id="the-is-keyword">
    <h4>is</h4>
    <p>Ключевое слово <code>is</code> используется для проверки идентичности объектов, т.е. находятся ли они в одной и той же области памяти.</p>
  </section>
  <section id="the-lambda-keyword">
    <h4>lambda</h4>
    <p>Ключевое слово <code>lambda</code> используется для создания небольших анонимных функций.</p>
  </section>
  <section id="the-nonlocal-keyword">
    <h4>nonlocal</h4>
    <p>Ключевое слово <code>nonlocal</code> используется для объявления переменных, которые находятся в объемлющем (но не глобальном) пространстве имен.</p>
  </section>
  <section id="the-not-keyword">
    <h4>not</h4>
    <p>Ключевое слово <code>not</code> используется для логического отрицания. Оно возвращает <code>True</code>, если выражение ложно, и <code>False</code> в противном случае.</p>
  </section>
  <section id="the-or-keyword">
    <h4>or</h4>
    <p>Ключевое слово <code>or</code> используется для логического объединения двух выражений. Оно возвращает <code>True</code>, если хотя бы одно из выражений истинно.</p>
  </section>
  <section id="the-pass-keyword">
    <h4>pass</h4>
    <p>Ключевое слово <code>pass</code> используется как заглушка для создания пустых блоков кода, которые не выполняют никакие действия.</p>
  </section>
  <section id="the-raise-keyword">
    <h4>raise</h4>
    <p>Ключевое слово <code>raise</code> используется для возбуждения исключений.</p>
  </section>
  <section id="the-return-keyword">
    <h4>return</h4>
    <p>Ключевое слово <code>return</code> используется для возврата значения из функции.</p>
  </section>
  <section id="the-try-keyword">
    <h4>try</h4>
    <p>Ключевое слово <code>try</code> используется для оборачивания блока кода, в котором могут возникнуть исключения. Оно должно сопровождаться блоком <code>except</code>, <code>finally</code>, или <code>else</code>.</p>
  </section>
  <section id="the-while-keyword">
    <h4>while</h4>
    <p>Ключевое слово <code>while</code> используется для создания циклов, которые продолжаются до тех пор, пока условие истинно.</p>
  </section>
  <section id="the-with-keyword">
    <h4>with</h4>
    <p>Ключевое слово <code>with</code> используется для оборачивания блоков кода, которые требуют начальной и завершающей обработки, таких как работа с файлами.</p>
  </section>
  <section id="the-yield-keyword">
    <h4>yield</h4>
    <p>Ключевое слово <code>yield</code> используется для возврата значения из генераторной функции и приостановки её выполнения, сохраняя её состояние для последующего продолжения.</p>
  </section>
</body>

</html>
