<section class="intro">
    <h2>Python</h2>
    <p><b>Python</b> - это интерпретируемый язык сценариев высокого уровня, разработанный в конце 1980-х годов Гвидо ван
        Россумом в
        Национальном исследовательском институте математики и информатики в Нидерландах. Первоначальная версия была
        опубликована в группе новостей alt.sources в 1991 году, а версия 1.0 была выпущена в 1994 году.</p>

    <p>Python 2.0 был выпущен в 2000 году, а версии 2.x были преобладающими выпусками до декабря 2008 года. В то время
        команда разработчиков приняла решение выпустить версию 3.0, которая содержала несколько относительно небольших,
        но значительных изменений, не имеющих обратной совместимости. с версиями 2.x. Python 2 и 3 очень похожи, и
        некоторые функции Python 3 были перенесены в Python 2. Но в целом они остаются не совсем совместимыми.</p>

    <p>И Python 2, и Python 3 продолжают поддерживаться и развиваться с периодическими обновлениями для обоих. На момент
        написания этой статьи самыми последними доступными версиями являются 2.7.15 и 3.6.5. Однако для Python 2
        установлена ​​официальная дата окончания жизни — 1 января 2020 года , после чего он больше не будет
        поддерживаться. Если вы новичок в Python, рекомендуется сосредоточиться на Python 3, как и это руководство.</p>

    <p>Python по-прежнему поддерживается основной командой разработчиков в Институте, и Гвидо по-прежнему возглавляет
        его, получив от сообщества Python титул BDFL (Доброжелательный диктатор на всю жизнь). Название «Питон», кстати,
        происходит не от змеи, а от британской комедийной труппы « Летающий цирк Монти Пайтона» , поклонником которой
        Гвидо был и, предположительно, до сих пор является. В документации Python часто можно найти ссылки на эскизы и
        фильмы Монти Пайтона.</p>
</section>
<section>
    <h3>Почему стоит выбрать Python?</h3>
    <p>Если вы собираетесь писать программы, на выбор есть буквально десятки широко используемых языков. Почему стоит
        выбрать Python? Вот некоторые особенности, которые делают Python привлекательным выбором.
    </p>
    <h3>Питон популярен</h3>
    <p>Популярность Python в последние несколько лет растет. По результатам опроса разработчиков Stack Overflow в 2018
        году Python занял 7-е место по популярности и номер один по популярности среди технологий года.
        Компании-разработчики программного обеспечения мирового уровня по всему миру используют Python каждый день.</p>

    <p>Согласно исследованию Dice, Python также является одним из самых востребованных навыков и самым популярным языком
        программирования в мире, согласно Индексу популярности языков программирования .
    </p>

    <p>Благодаря популярности и широкому использованию Python в качестве языка программирования разработчики Python
        востребованы и хорошо оплачиваются. Если вы хотите углубиться в статистику зарплат Python и возможности
        трудоустройства, вы можете сделать это здесь .</p>

    <h3>Python интерпретируется</h3>
    <p>Многие языки компилируются, а это означает, что создаваемый вами исходный код необходимо перевести в машинный
        код, язык процессора вашего компьютера, прежде чем его можно будет запустить. Программы, написанные на
        интерпретируемом языке, передаются непосредственно интерпретатору, который запускает их напрямую.</p>
    <p>Это ускоряет цикл разработки, поскольку вы просто вводите код и запускаете его без промежуточного этапа
        компиляции.</p>
    <p>Одним из потенциальных недостатков интерпретируемых языков является скорость выполнения. Программы,
        скомпилированные на родном языке процессора компьютера, обычно выполняются быстрее, чем интерпретируемые
        программы. Для некоторых приложений, требующих особенно больших вычислительных ресурсов, таких как обработка
        графики или интенсивная обработка чисел, это может быть ограничивающим фактором.</p>
    <p>Однако на практике для большинства программ разница в скорости выполнения измеряется миллисекундами или максимум
        секундами и не ощутима для пользователя-человека. Для большинства приложений целесообразность программирования
        на интерпретируемом языке обычно оправдывает себя.</p>
    <h3>Питон бесплатен</h3>
    <p>Интерпретатор Python разработан по одобренной OSI лицензии с открытым исходным кодом, что делает его бесплатным
        для установки, использования и распространения даже в коммерческих целях.</p>
    <p>Версия интерпретатора доступна практически для любой существующей платформы, включая все версии Unix, Windows,
        macOS, смартфоны и планшеты, а также, возможно, все, о чем вы когда-либо слышали. Существует версия даже для
        полудюжины оставшихся пользователей OS/2.</p>
    <h3>Python портативен</h3>
    <p>Поскольку код Python интерпретируется, а не компилируется в собственные машинные инструкции, код, написанный для
        одной платформы, будет работать на любой другой платформе, на которой установлен интерпретатор Python. (Это
        верно для любого интерпретируемого языка, а не только для Python.)</p>
    <h3>Питон — это просто</h3>
    <p>Что касается языков программирования, Python относительно лаконичен, и разработчики намеренно сохранили его
        таким.

    </p>
    <p>Грубую оценку сложности языка можно получить по количеству ключевых слов или зарезервированных слов в языке. Это
        слова, которые зарезервированы для специального значения компилятором или интерпретатором, поскольку они
        обозначают определенные встроенные функции языка.</p>
    <p>В Python 3 имеется 33 ключевых слова , а в Python 2 — 31. Напротив, в C++ — 62, в Java — 53, а в Visual Basic —
        более 120, хотя последние примеры, вероятно, несколько различаются в зависимости от реализации или диалекта.</p>
    <p>Код Python имеет простую и понятную структуру, которую легко изучать и легко читать. Фактически, как вы увидите,
        определение языка обеспечивает легко читаемую структуру кода.</p>
    <h3>Но это не так просто</h3>
    <P>Несмотря на всю свою синтаксическую простоту, Python поддерживает большинство конструкций, которые можно ожидать
        от языка очень высокого уровня, включая сложные динамические типы данных, структурированное и функциональное
        программирование, а также объектно-ориентированное программирование .</P>
    <P>Кроме того, доступна очень обширная библиотека классов и функций, которая предоставляет возможности, выходящие
        далеко за рамки встроенных в язык, например манипулирование базами данных или программирование графического
        пользовательского интерфейса.</P>
    <P>Python делает то, чего не могут многие языки программирования: сам язык просто спроектирован, но он очень
        универсален с точки зрения того, что с его помощью можно сделать.</P>





</section>
<section>
    <h3>Заключение</h3>
    <p>В этом разделе представлен обзор языка программирования Python , в том числе:

        Краткая история развития Python
        Некоторые причины, по которым вы можете выбрать Python в качестве языка
        Python — отличный вариант, независимо от того, являетесь ли вы начинающим программистом, желающим изучить
        основы, опытным программистом, разрабатывающим большое приложение, или кем-то средним. Основы Python легко
        освоить, но его возможности огромны.

        Перейдите к следующему разделу, чтобы узнать, как приобрести и установить Python на свой компьютер.</p>

</section>