{% extends 'base/base.html' %}

{% block title %}
Tickets for computer science
{% endblock%}


{% block body %}
<h1>Билеты по информатике</h1>
<div>
    <div>
    <ul>
        <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №1</h3>
        <li>Информатика как наука.</li>
        <li>Основные характеристики компьютера.</li>
        <li>Работа в текстовом редакторе.</li>
    </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №2 </h3>
            <li>Информатизация общества. Роль информационной деятельности в современном обществе.</li>
            <li>Многообразие компьютеров. Устройства ввода-вывода информации.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №3 </h3>
            <li>Этапы развития технических средств и информационных ресурсов.</li>
            <li>Программное обеспечение ПК. Виды программного обеспечения ПК.</li>
            <li>Работа в текстовом редакторе.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №4</h3>
            <li>Информационные ресурсы общества. Основные этапы развития информационного общества.</li>
            <li>Организация компьютерной безопасности и защиты информации.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №5</h3>
            <li>Информация как объект правового регулирования.</li>
            <li>Средства защиты информации от несанкционированного доступа.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №6</h3>
            <li>Правовое регулирование в информационной сфере.</li>
            <li>Применение локально-вычислительных сетей.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №7</h3>
            <li>Правила техники безопасности при работе на ПЭВМ.</li>
            <li>Компьютерные вирусы. Антивирусная защита.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №8</h3>
            <li>Образовательные информационные ресурсы и работа с ними.</li>
            <li>Особенности операционной системы Windows</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №9</h3>
            <li>Программное обеспечение ЭВМ</li>
            <li>Системы оптического распознавания текстов.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №10</h3>
            <li>Лицензионное и нелицензионное ПО ЭВМ</li>
            <li>Системы оптического распознавания текстов.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №11</h3>
            <li>Подходы к понятию и измерению информации. Представление информации в двоичной системе счисления.</li>
            <li>Возможности динамических электронных таблиц.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №12</h3>
            <li>Основные информационные процессы.</li>
            <li>Базы данных. Системы управления базами данных.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №13</h3>
            <li>Обработка информации.</li>
            <li>Возможности настольных издательских систем.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №14</h3>
            <li>Передача информации.</li>
            <li>Возможности текстовых редакторов.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №15</h3>
            <li>Хранение информации.</li>
            <li>Интернет-технологии. Подключения Интернет.</li>
            <li>Работа в текстовом редакторе.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №16</h3>
            <li>Хранение информации.</li>
            <li>Интернет-технологии. Подключения Интернет.</li>
            <li>Работа в текстовом редакторе.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №17</h3>
            <li>Алгоритмы и способы их описания.</li>
            <li>Поиск информации с использованием компьютера.</li>
            <li>Работа в текстовом редакторе.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №18</h3>
            <li>Блок схема алгоритма.</li>
            <li>Компьютерные сети.</li>
            <li>Работа в текстовом редакторе.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №19</h3>
            <li>Типы алгоритмических структур.</li>
            <li>Адресация в компьютерных сетях.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №20</h3>
            <li>Принципы обработки информации компьютером.</li>
            <li>Обмен данными в компьютерных сетях.</li>
            <li>Работа в текстовом редакторе.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №21</h3>
            <li>Арифметические основы работы компьютера.</li>
            <li>Глобальные компьютерные сети.</li>
            <li>Работа в текстовом редакторе.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №22</h3>
            <li>Логические основы работы компьютера.</li>
            <li>Передача информации в компьютерных сетях. Схема Шеннона.</li>
            <li>Работа в текстовом редакторе.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №23</h3>
            <li>Архивы данных. Архивация.</li>
            <li>Виды электронных коммуникаций</li>
            <li>Работа в текстовом редакторе.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №24</h3>
            <li>Учет объемов файлов при их хранении и передаче.</li>
            <li>Управление процессами. Схемы управления.</li>
            <li>Работа в текстовом редакторе.</li>
        </ul>
    </div>
    
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №25</h3>
            <li>Архитектура компьютера.</li>
            <li>Автоматизированная система управления. Функции. Задачи. Классификация. Виды.</li>
            <li>Работа в текстовом редакторе</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №26</h3>
            <li>Передача информации.</li>
            <li>Адресация в компьютерных сетях.</li>
            <li>Работа с электронными таблицами.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №27</h3>
            <li>Применение локально-вычислительных сетей.</li>
            <li>Виды электронных коммуникаций.</li>
            <li>Работа с электронными таблицами.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №28</h3>
            <li></li>
            <li></li>
            <li>Работа в текстовом редакторе.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №29</h3>
            <li>Программное обеспечение ПК. Виды программного обеспечения ПК.</li>
            <li>Адресация в компьютерных сетях.</li>
            <li>Работа с электронными таблицами.</li>
        </ul>
    </div>
    <div>
        <ul>
            <h3>ЭКЗАМЕНАЦИОННЫЙ БИЛЕТ №30 </h3>
            <li>Основные информационные процессы.</li>
            <li>Применение локально-вычислительных сетей.</li>
            <li>Работа с электронными таблицами.</li>
        </ul>
    </div>


    
</div>


{% endblock%}