{% extends 'base/base.html' %}

{% block title %}
дроны и беспилотники
{% endblock%}


{% block body %}
<h1>Дроны и беспилотники</h1>
<h2>введение</h2>
<p>Научно-технический прогресс принес огромные изменения в повседневную жизнь человека, превращая фантастические идеи в
    реальность. С самых древних времен мечты об авиации преследовали ученых и изобретателей, и лишь через столетия
    усилий им удалось осуществить первые полеты. С развитием технологий появились беспилотные летательные аппараты,
    которые сначала находили применение в военных целях, а затем стали незаменимыми в различных областях человеческой
    деятельности. Сегодня беспилотники стали неотъемлемой частью современной техники, обладая легкостью, маневренностью
    и надежностью. Их возможности постоянно расширяются, открывая новые перспективы для применения в различных сферах
    жизни.
</p>
<ul>

    <li><b>Актуальность:</b> Как применить возможности дронов и беспилотников для решения повседневных задач
        современного человека.</li>
    <li><b>Гипотеза:</b> Дроны и беспилотники оказывают мощное воздействие на жизнь современного человека.</li>
    <li><b>Цель работы:</b>выявить роль дронов и беспилотников в жизни современного человека и её перспективы в будущем
    </li>
    <li><b>Объект:</b>предложения по расширению сфер применения беспилотной авиации для удовлетворения повседневных
        потребностей человека</li>
    <li><b>Задачи:</b>
        <ul>
            <li>Анализ по литературным источникам и материалам Интернета истории появления беспилотной авиации и
                существующих её применений для решения повседневных задач человека.</li>
            <li>Анализ по литературным источникам и материалам Интернета возможностей беспилотных летательных аппаратов
                различных типов.</li>
            <li>Анализ возможности применения сетевых технологий для расширения областей использования беспилотной
                авиации.
            </li>
            <li>Разработка предложений по новым областям применения беспилотной авиации.</li>
            <li> Оценка перспектив беспилотной авиации
            </li>
        </ul>

        Анализ по литературным источникам и материалам Интернета возможностей беспилотных летательных аппаратов
        различных типов.
    </li>
</ul>







{% endblock%}