{% extends 'base/base.html' %}

{% block title %}
Информатика
{% endblock%}


{% block body %}
<h1>Информация это информация!</h1>
<h2>Представление информации, языки, кодирование</h2>
<p>Кодирование – для того что бы сохранить, обработать и передать информацию нужно её зафиксировать с кодов, символы
    условных знаков используя алфавит какого-нибудь языка.
</p>
<p><b>Код</b> – правило (алгоритм) сопоставления каждому конкретному сообщению строго определённой комбинации символов (знаков)
    (или сигналов).</p>
<p>Представление информации в виде системы условных знаков, называют – <b>кодированием</b>. Обратный процесс называют,
    <b>декодированием</b> – процесс, обратный процессу представления информации в виде системы условных знаков.
</p>
<p><b>Язык кодирования</b> – это система знаков, используемая для хранения, передачи и обработки информации.
</p>
<p>У каждого языка иметься свой набор знаков.
</p>
<p>Алфавит: буквари, русский, английский, греческий и т.д.
</p>
<p>Иероглифы: китайский, египетский.</p>
<p>Азбука жестов: азбука для глухонемых, азбука Морзе. Телеграфная азбука, изобретённая в 1837 году, американцам
    Сэмюэлем Морзе</p>
<p>Азбука Брайля: в середине 19 века французский педагог Луи Брайль придумал специальный шрифт для слепых, буквы этого
    шрифта выдавливались на листках плотной бумаги.</p>
<p>Флажковая азбука/Морская азбука
</p>
<p>Двоичный алфавит: компьютерный алфавит и т.д., например, одну и тоже букву А можно закодировать, используя символы
    различных алфавитов.</p>
<h3>Цели и способы кодирования.</h3>
<p>
    Существует три основных способа кодирования информации:
<ul>
    <li>
       <em> Графический - с помощью рисунков и пиктограмма</em>
    </li>
    <li><em>Числовой – с помощью чисел</em>
    </li>
    <li><em>Символьный – с помощью символов того же алфавита что и текст.</em>
    </li>
</ul>

</p>
<p>В зависимости от цели кодирования, могут быть разные способы представления одного и того же сообщения, если нужно
    передать русский текст с помощью устройства или программы, которые не поддерживает русские буквы то используют транс
    лит.
</p>
<p>Стенографисты для быстрой записи устной речи используют свой понятный только им способы кодирования текста. Для
    скрытия смысла текста с целью его защиты от посторонних используют <b>шифрования</b>.
</p>
<p><b>Криптография</b> – наука, изучающая методы шифрования информации.
</p>
<p>Шифр цезаря один из наиболее древнейших известных шифров, схема шифрования очень проста, используется сдвиг буквы
    алфавита на фиксированное число позиций. Существует разные способы записи чисел, даты, и времени.
</p>
<ul>
    <li><em>11.21.16</em>
    </li>
    <li><em>21.11.2016</em>
    </li>
    <li><em>21/11/16</em>
    </li>
    <li><em>21 ноя 2016</em>
    </li>
</ul>
<h4>Неравномерный и равномерный коды</h4>
<p>Алфавит азбуки Морзе состоит из трех знаков: точка, тире и пауза. Длина кода неравномерная так как для каждой буквы приходится от 1 до 5 знаков, это сделано с целью оптимизации длины сообщения, буквы, которые встречаются реже, имеют более длинный код. Позже французом Жанном Бадо была разработана равномерная двоичная телеграфная азбука где каждой букве соответствуют 5 знаков, равномерный код позволил автоматизировать печать и передачу сообщений.
</p>
<h5>Естественные и формальные языки кодирования</h5>
<p><b>Естественные языки</b> – обычные языки для общения где можно использовать синонимы и омонимы и по-разному составить предложение не меняя смысла</p>
<p><b>Формальный язык</b> – это язык, в котором однозначно определяется значение каждого слова, а также правила построения предложений и придания им смысла. Формальных языках нельзя использовать синонимы и омонимы и нужно придерживаться строгих правил составления предложений.</p>
<h6>Примеры формальных языков </h6>
<ul>
    <li><em>Математический язык</em>
    </li>
    <li><em>Музыкальная нотация</em></li>
    <li><em>Языки программирования</em></li>
</ul>
<p>Некоторые знаки могут выглядеть одинаково, но использоваться для разных кодировок, например, символ «С» :
</p>
<p>Русская буква ЭС</p>
<p>Английская буква СИ
</p>
<p>Латинская буква СЕ 
</p>
<p>Музыкальная нота ДО </p>
<p>16-ное число 12 и т.д.</p>
<p><b></b></p>







{% endblock%}