<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IT Legion</title>
  <style>
    body {
      background-color: #121212;
      color: #FFFFFF;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #202020;
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin: 0;
    }

    h2 {
      text-align: center;
    }

    nav {
      background-color: #1a1a1a;
      padding: 10px;
      text-align: center;
    }

    nav a {
      color: #00FF00;
      text-decoration: none;
      padding: 10px;
    }

    nav a:hover {
      background-color: #00FF00;
      color: #121212;
    }

    section {
      padding: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      border: 1px solid #FFFFFF;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #1a1a1a;
    }

    td a {
      color: #00FF00;
      text-decoration: none;
    }
  </style>
</head>

<body>
  <header>
    <h1>IT Legion</h1>
  </header>
  <nav>
    <a href="#PHP">PHP</a>
  </nav>
  <section id="PHP">
    <h2>PHP</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th colspan="5">
              <h2>Зарезервированные слова</h2>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><a href="#abstract"><code>abstract</code></a></td>
            <td><a href="#and"><code>and</code></a></td>
            <td><a href="#array"><code>array</code></a></td>
            <td><a href="#as"><code>as</code></a></td>
            <td><a href="#break"><code>break</code></a></td>
          </tr>
          <tr>
            <td><a href="#callable"><code>callable</code></a></td>
            <td><a href="#case"><code>case</code></a></td>
            <td><a href="#catch"><code>catch</code></a></td>
            <td><a href="#class"><code>class</code></a></td>
            <td><a href="#clone"><code>clone</code></a></td>
          </tr>
          <tr>
            <td><a href="#const"><code>const</code></a></td>
            <td><a href="#continue"><code>continue</code></a></td>
            <td><a href="#declare"><code>declare</code></a></td>
            <td><a href="#default"><code>default</code></a></td>
            <td><a href="#do"><code>do</code></a></td>
          </tr>
          <tr>
            <td><a href="#else"><code>else</code></a></td>
            <td><a href="#elseif"><code>elseif</code></a></td>
            <td><a href="#enddeclare"><code>enddeclare</code></a></td>
            <td><a href="#endfor"><code>endfor</code></a></td>
            <td><a href="#endforeach"><code>endforeach</code></a></td>
          </tr>
          <tr>
            <td><a href="#endif"><code>endif</code></a></td>
            <td><a href="#endswitch"><code>endswitch</code></a></td>
            <td><a href="#endwhile"><code>endwhile</code></a></td>
            <td><a href="#extends"><code>extends</code></a></td>
            <td><a href="#final"><code>final</code></a></td>
          </tr>
          <tr>
            <td><a href="#finally"><code>finally</code></a></td>
            <td><a href="#fn"><code>fn</code></a></td>
            <td><a href="#for"><code>for</code></a></td>
            <td><a href="#foreach"><code>foreach</code></a></td>
            <td><a href="#function"><code>function</code></a></td>
          </tr>
          <tr>
            <td><a href="#global"><code>global</code></a></td>
            <td><a href="#goto"><code>goto</code></a></td>
            <td><a href="#if"><code>if</code></a></td>
            <td><a href="#implements"><code>implements</code></a></td>
            <td><a href="#include"><code>include</code></a></td>
          </tr>
          <tr>
            <td><a href="#include_once"><code>include_once</code></a></td>
            <td><a href="#instanceof"><code>instanceof</code></a></td>
            <td><a href="#insteadof"><code>insteadof</code></a></td>
            <td><a href="#interface"><code>interface</code></a></td>
            <td><a href="#isset"><code>isset</code></a></td>
          </tr>
          <tr>
            <td><a href="#list"><code>list</code></a></td>
            <td><a href="#match"><code>match</code></a></td>
            <td><a href="#namespace"><code>namespace</code></a></td>
            <td><a href="#new"><code>new</code></a></td>
            <td><a href="#or"><code>or</code></a></td>
          </tr>
          <tr>
            <td><a href="#print"><code>print</code></a></td>
            <td><a href="#private"><code>private</code></a></td>
            <td><a href="#protected"><code>protected</code></a></td>
            <td><a href="#public"><code>public</code></a></td>
            <td><a href="#require"><code>require</code></a></td>
          </tr>
          <tr>
            <td><a href="#require_once"><code>require_once</code></a></td>
            <td><a href="#return"><code>return</code></a></td>
            <td><a href="#static"><code>static</code></a></td>
            <td><a href="#switch"><code>switch</code></a></td>
            <td><a href="#throw"><code>throw</code></a></td>
          </tr>
          <tr>
            <td><a href="#trait"><code>trait</code></a></td>
            <td><a href="#try"><code>try</code></a></td>
            <td><a href="#unset"><code>unset</code></a></td>
            <td><a href="#use"><code>use</code></a></td>
            <td><a href="#var"><code>var</code></a></td>
          </tr>
          <tr>
            <td><a href="#while"><code>while</code></a></td>
            <td><a href="#xor"><code>xor</code></a></td>
            <td><a href="#yield"><code>yield</code></a></td>
            <td><a href="#yield_from"><code>yield from</code></a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section id="abstract">
    <h4>abstract</h4>
    <p>Ключевое слово <code>abstract</code> используется для объявления абстрактного класса или метода. Абстрактный метод не имеет реализации и должен быть переопределен в подклассах.</p>
  </section>
  <section id="and">
    <h4>and</h4>
    <p>Ключевое слово <code>and</code> используется для логического объединения двух выражений. Оно возвращает <code>true</code>, если оба выражения истинны, и <code>false</code> в противном случае.</p>
  </section>
  <section id="array">
    <h4>array</h4>
    <p>Ключевое слово <code>array</code> используется для создания массива в PHP. Массивы могут содержать несколько значений под одним именем переменной.</p>
  </section>
  <section id="as">
    <h4>as</h4>
    <p>Ключевое слово <code>as</code> используется для присвоения значения элементу массива при итерации в цикле <code>foreach</code>.</p>
  </section>
  <section id="break">
    <h4>break</h4>
    <p>Ключевое слово <code>break</code> используется для выхода из ближайшего цикла <code>for</code>, <code>foreach</code>, <code>while</code> или <code>do-while</code>.</p>
  </section>
  <section id="callable">
    <h4>callable</h4>
    <p>Ключевое слово <code>callable</code> используется для объявления типа аргумента или возвращаемого значения, который должен быть вызываемым (функцией или методом).</p>
  </section>
  <section id="case">
    <h4>case</h4>
    <p>Ключевое слово <code>case</code> используется в конструкции <code>switch</code> для определения блока кода, который будет выполнен, если значение соответствует выражению в <code>case</code>.</p>
  </section>
  <section id="catch">
    <h4>catch</h4>
    <p>Ключевое слово <code>catch</code> используется для перехвата исключений, которые были выброшены в блоке <code>try</code>.</p>
  </section>
  <section id="class">
    <h4>class</h4>
    <p>Ключевое слово <code>class</code> используется для объявления нового класса в PHP. Классы позволяют создавать новые типы объектов, которые могут содержать данные и методы для работы с этими данными.</p>
  </section>
  <section id="clone">
    <h4>clone</h4>
    <p>Ключевое слово <code>clone</code> используется для создания копии объекта. Клонированный объект является новым объектом с таким же содержимым.</p>
  </section>
  <section id="const">
    <h4>const</h4>
    <p>Ключевое слово <code>const</code> используется для определения константы класса. Константы класса не могут быть изменены после их объявления.</p>
  </section>
  <section id="continue">
    <h4>continue</h4>
    <p>Ключевое слово <code>continue</code> используется для пропуска текущей итерации цикла и перехода к следующей итерации.</p>
  </section>
  <section id="declare">
    <h4>declare</h4>
    <p>Ключевое слово <code>declare</code> используется для установки директив выполнения для блока кода, таких как строгие типы или включение тиков.</p>
  </section>
  <section id="default">
    <h4>default</h4>
    <p>Ключевое слово <code>default</code> используется в конструкции <code>switch</code> для определения блока кода, который будет выполнен, если ни одно из значений <code>case</code> не соответствует.</p>
  </section>
  <section id="do">
    <h4>do</h4>
    <p>Ключевое слово <code>do</code> используется для создания цикла <code>do-while</code>, который выполняется по крайней мере один раз и продолжается до тех пор, пока условие истинно.</p>
  </section>
  <section id="else">
    <h4>else</h4>
    <p>Ключевое слово <code>else</code> используется в конструкции <code>if</code> для выполнения блока кода, если условие ложно.</p>
  </section>
  <section id="elseif">
    <h4>elseif</h4>
    <p>Ключевое слово <code>elseif</code> используется для проверки дополнительного условия в конструкции <code>if</code>.</p>
  </section>
  <section id="enddeclare">
    <h4>enddeclare</h4>
    <p>Ключевое слово <code>enddeclare</code> используется для завершения блока <code>declare</code>.</p>
  </section>
  <section id="endfor">
    <h4>endfor</h4>
    <p>Ключевое слово <code>endfor</code> используется для завершения блока <code>for</code>.</p>
  </section>
  <section id="endforeach">
    <h4>endforeach</h4>
    <p>Ключевое слово <code>endforeach</code> используется для завершения блока <code>foreach</code>.</p>
  </section>
  <section id="endif">
    <h4>endif</h4>
    <p>Ключевое слово <code>endif</code> используется для завершения блока <code>if</code>.</p>
  </section>
  <section id="endswitch">
    <h4>endswitch</h4>
    <p>Ключевое слово <code>endswitch</code> используется для завершения блока <code>switch</code>.</p>
  </section>
  <section id="endwhile">
    <h4>endwhile</h4>
    <p>Ключевое слово <code>endwhile</code> используется для завершения блока <code>while</code>.</p>
  </section>
  <section id="extends">
    <h4>extends</h4>
    <p>Ключевое слово <code>extends</code> используется для создания класса, который наследует методы и свойства другого класса.</p>
  </section>
  <section id="final">
    <h4>final</h4>
    <p>Ключевое слово <code>final</code> используется для предотвращения переопределения метода или наследования класса.</p>
  </section>
  <section id="finally">
    <h4>finally</h4>
    <p>Ключевое слово <code>finally</code> используется для выполнения блока кода после выполнения <code>try</code> и <code>catch</code>, независимо от того, было ли выброшено исключение.</p>
  </section>
  <section id="fn">
    <h4>fn</h4>
    <p>Ключевое слово <code>fn</code> используется для создания стрелочных функций (анонимных функций) в PHP.</p>
  </section>
  <section id="for">
    <h4>for</h4>
    <p>Ключевое слово <code>for</code> используется для создания цикла, который повторяется определенное количество раз.</p>
  </section>
  <section id="foreach">
    <h4>foreach</h4>
    <p>Ключевое слово <code>foreach</code> используется для итерации по элементам массива или объекта.</p>
  </section>
  <section id="function">
    <h4>function</h4>
    <p>Ключевое слово <code>function</code> используется для определения функции в PHP.</p>
  </section>
  <section id="global">
    <h4>global</h4>
    <p>Ключевое слово <code>global</code> используется для доступа к глобальным переменным внутри функции или метода.</p>
  </section>
  <section id="goto">
    <h4>goto</h4>
    <p>Ключевое слово <code>goto</code> используется для перехода к метке в коде. Использование <code>goto</code> может ухудшить читаемость кода и его следует избегать.</p>
  </section>
  <section id="if">
    <h4>if</h4>
    <p>Ключевое слово <code>if</code> используется для проверки условия. Если условие истинно, выполняется блок кода, связанный с <code>if</code>.</p>
  </section>
  <section id="implements">
    <h4>implements</h4>
    <p>Ключевое слово <code>implements</code> используется для реализации интерфейса в классе.</p>
  </section>
  <section id="include">
    <h4>include</h4>
    <p>Ключевое слово <code>include</code> используется для включения и выполнения кода из другого файла.</p>
  </section>
  <section id="include_once">
    <h4>include_once</h4>
    <p>Ключевое слово <code>include_once</code> используется для включения и выполнения кода из другого файла, если он не был включен ранее.</p>
  </section>
  <section id="instanceof">
    <h4>instanceof</h4>
    <p>Ключевое слово <code>instanceof</code> используется для проверки, является ли объект экземпляром определенного класса или его подкласса.</p>
  </section>
  <section id="insteadof">
    <h4>insteadof</h4>
    <p>Ключевое слово <code>insteadof</code> используется для разрешения конфликтов при использовании трейтов, указывая, какой метод следует использовать вместо другого.</p>
  </section>
  <section id="interface">
    <h4>interface</h4>
    <p>Ключевое слово <code>interface</code> используется для определения интерфейса, который может быть реализован классом.</p>
  </section>
  <section id="isset">
    <h4>isset</h4>
    <p>Ключевое слово <code>isset</code> используется для проверки, установлена ли переменная и не равна ли она <code>null</code>.</p>
  </section>
  <section id="list">
    <h4>list</h4>
    <p>Ключевое слово <code>list</code> используется для присвоения переменных из массива в одну операцию.</p>
  </section>
  <section id="match">
    <h4>match</h4>
    <p>Ключевое слово <code>match</code> используется для создания выражений соответствия, которые похожи на <code>switch</code>, но возвращают значение.</p>
  </section>
  <section id="namespace">
    <h4>namespace</h4>
    <p>Ключевое слово <code>namespace</code> используется для объявления пространства имен, чтобы избежать конфликтов имен функций, классов и констант.</p>
  </section>
  <section id="new">
    <h4>new</h4>
    <p>Ключевое слово <code>new</code> используется для создания нового экземпляра класса.</p>
  </section>
  <section id="or">
    <h4>or</h4>
    <p>Ключевое слово <code>or</code> используется для логического объединения двух выражений. Оно возвращает <code>true</code>, если хотя бы одно из выражений истинно, и <code>false</code> в противном случае.</p>
  </section>
  <section id="print">
    <h4>print</h4>
    <p>Ключевое слово <code>print</code> используется для вывода строки на экран. Оно всегда возвращает <code>1</code>.</p>
  </section>
  <section id="private">
    <h4>private</h4>
    <p>Ключевое слово <code>private</code> используется для объявления свойств или методов, которые могут быть доступны только внутри класса, в котором они объявлены.</p>
  </section>
  <section id="protected">
    <h4>protected</h4>
    <p>Ключевое слово <code>protected</code> используется для объявления свойств или методов, которые могут быть доступны внутри класса, в котором они объявлены, и в его подклассах.</p>
  </section>
  <section id="public">
    <h4>public</h4>
    <p>Ключевое слово <code>public</code> используется для объявления свойств или методов, которые могут быть доступны из любого места.</p>
  </section>
  <section id="require">
    <h4>require</h4>
    <p>Ключевое слово <code>require</code> используется для включения и выполнения кода из другого файла. Если файл не найден, выполнение скрипта завершится с фатальной ошибкой.</p>
  </section>
  <section id="require_once">
    <h4>require_once</h4>
    <p>Ключевое слово <code>require_once</code> используется для включения и выполнения кода из другого файла, если он не был включен ранее. Если файл не найден, выполнение скрипта завершится с фатальной ошибкой.</p>
  </section>
  <section id="return">
    <h4>return</h4>
    <p>Ключевое слово <code>return</code> используется для завершения выполнения функции и возврата значения функции.</p>
  </section>
  <section id="static">
    <h4>static</h4>
    <p>Ключевое слово <code>static</code> используется для объявления статических свойств и методов класса, а также для сохранения значения переменной в локальной области видимости между вызовами функции.</p>
  </section>
  <section id="switch">
    <h4>switch</h4>
    <p>Ключевое слово <code>switch</code> используется для выполнения одного из множества блоков кода в зависимости от значения выражения.</p>
  </section>
  <section id="throw">
    <h4>throw</h4>
    <p>Ключевое слово <code>throw</code> используется для выброса исключения. Исключения используются для обработки ошибок и других необычных ситуаций.</p>
  </section>
  <section id="trait">
    <h4>trait</h4>
    <p>Ключевое слово <code>trait</code> используется для объявления трейтв, которые позволяют включать методы в классы с целью повторного использования кода.</p>
  </section>
  <section id="try">
    <h4>try</h4>
    <p>Ключевое слово <code>try</code> используется для начала блока кода, в котором могут быть выброшены исключения, которые затем перехватываются блоками <code>catch</code>.</p>
  </section>
  <section id="unset">
    <h4>unset</h4>
    <p>Ключевое слово <code>unset</code> используется для удаления переменной или элемента массива.</p>
  </section>
  <section id="use">
    <h4>use</h4>
    <p>Ключевое слово <code>use</code> используется для включения трейтов в класс, а также для импорта пространств имен и их сокращений.</p>
  </section>
  <section id="var">
    <h4>var</h4>
    <p>Ключевое слово <code>var</code> является устаревшим и используется для объявления свойств класса. Вместо него рекомендуется использовать <code>public</code>, <code>protected</code> или <code>private</code>.</p>
  </section>
  <section id="while">
    <h4>while</h4>
    <p>Ключевое слово <code>while</code> используется для создания цикла, который выполняется до тех пор, пока условие истинно.</p>
  </section>
  <section id="xor">
    <h4>xor</h4>
    <p>Ключевое слово <code>xor</code> используется для логического исключающего ИЛИ (исключающее ИЛИ) двух выражений. Оно возвращает <code>true</code>, если одно из выражений истинно, но не оба.</p>
  </section>
  <section id="yield">
    <h4>yield</h4>
    <p>Ключевое слово <code>yield</code> используется для генерации значений в генераторе, который позволяет итерировать через последовательность значений.</p>
  </section>
  <section id="yield_from">
    <h4>yield from</h4>
    <p>Ключевое слово <code>yield from</code> используется для делегирования части генератора другому генератору или итерируемому объекту.</p>
  </section>
</body>

</html>
