<html>

<body>
  <style>
    h1 {
      text-align: center;
    }

    body {
      background-color: rgb(200, 200, 200);
      font-family: calibri;
    }

    table {
      border: 1px solid black;
      /*Бортики в 1 пиксель, чёрного цвета*/
      margin: auto;
      /*Центровка таблицы*/
      margin-bottom: 10px;
      /*Для отдаления по вертикале друг от друга*/
      width: 650;
      /*Ширина таблицы*/
      background-color: rgb(250, 250, 250);
      /*Цвет таблицы*/
    }

    th,
    td {
      border: 1px solid black;
      /*Размер бортиков внутри, чёрного цвета*/
    }

    .sselka {
      color: red;
      text-decoration: none;
    }

    .text_sselka {
      text-align: center;
    }
  </style>

  <!--Шаблон
  <table>
    <tr>
        <th>вопрос</th>
    </tr>
    <tr>
        <td>текс</td>
    </tr>
    <tr>
        <td>текс</td>
    </tr>
    <tr>
        <td>текс</td>
    </tr>
    <tr>
        <td>текс</td>
    </tr>
    <tr>
        <th>Ответ:</th>
    </tr>
  </table>
-->

  <table class="text_sselka">

    <tr>
      <td><a class="sselka" href="#комп">Компьютерные коммуникации</a></td>
    </tr>

    <tr>
      <td><a class="sselka" href="#текс">Текстовый редактор</a></td>
    </tr>

    <tr>
      <td><a class="sselka" href="#граф">Графический редактор</a></td>
    </tr>

    <tr>
      <td><a class="sselka" href="#элек">Электронные таблицы</a></td>
    </tr>

    <tr>
      <td><a class="sselka" href="#база">База данных</a></td>
    </tr>

  </table>

  <h1 id="комп">Компьютерные коммуникации</h1>

  <!--Павлов Тимофей-->

  <table>
  <tr>
    <th>6. Для хранения файлов, предназначенных для общего доступа пользователей сети, используется:</th>
  </tr>
  <tr>
    <td>1) Файл-сервер</td>
  </tr>
  <tr>
    <td>2) Рабочая станция</td>
  </tr>
  <tr>
    <td>3) Клиент-сервер</td>
  </tr>
  <tr>
    <td>4) Коммутатор</td>
  </tr>
  <tr>
    <th>Ответ:</th>
  </tr>
</table>

<!--Белаш Олег-->

<table border="1">
  <tr>
    <th>8. Транспортный протокол (ТСР) обеспечивает:</th>
  </tr>
  <tr>
    <td>1) разбиение файлов на ІР-пакеты в процессе передачи и сборку файлов в процессе получения</td>
  </tr>
  <tr>
    <td>2) прием, передачу и и выдачу одного сеанса связи</td>
  </tr>
  <tr>
    <td>3) предоставление в распоряжение пользователя уже переработанную информацию</td>
  </tr>
  <tr>
    <td>4) доставку информации от компьютера-отправителя компьютеру-получателю</td>
  </tr>
  <tr>
    <th>Ответ:</th>
  </tr>
</table>

<!--Брагоренко Юрий-->

<table border="1">
  <tr>
    <th>9. Протокол маршрутизации (IP) обеспечивает:</th>
  </tr>
  <tr>
    <td>1) доставку информации от компьютера-отправителя к компьютеру-получателю</td>
  </tr>
  <tr>
    <td>2) интерпретацию данных и подготовку их для пользовательского уровня</td>
  </tr>
  <tr>
    <td>3) сохранение механических, функциональных параметров физической связи в компьютерной сети</td>
  </tr>
  <tr>
    <td>4) управление аппаратурой передачи данных и каналов связи</td>
  </tr>
  <tr>
    <td>5) разбиение файлов на ІР-пакеты в процессе передачи и сборку файлов в процессе получения</td>
  </tr>
  <tr>
    <th>Ответ:</th>
  </tr>
</table>

  <!--Семенюта Максим-->

  <table>
    <tr>
      <th>10. Компьютер, подключенный к Интернет, обязательно имеет:</th>
    </tr>
    <tr>
      <td>1. IP-адрес;</td>
    </tr>
    <tr>
      <td>2. Web-страница;</td>
    </tr>
    <tr>
      <td>3. домашннию web-страницу;</td>
    </tr>
    <tr>
      <th>Ответ: IP-адрес</th>
    </tr>
  </table>


<!--Cделал Васенко Никита-->

  <table border="1">
    <tr>
      <th>17. Компьютер предоставляющий свои ресурсы в пользование другим компьютерам при совместной работе, называется:
      </th>
    </tr>
    <tr>
      <td>1) Адаптером</td>
    </tr>
    <tr>
      <td>2) Коммутатором</td>
    </tr>
    <tr>
      <td>3) Станцией</td>
    </tr>
    <tr>
      <td>4) Сервером</td>
    </tr>
    <tr>
      <td>5) Клиент-сервером</td>
    </tr>
    <tr>
      <th>Ответ:</th>
    </tr>
  </table>

  <!--Желейко Дмитрий-->

  <table>
    <tr>
      <th>18. Теоретически модем, передающий информацию со скорость 57600 бит/с, может передать 2 страницы текста (3600
        байт) в течении:</th>
    </tr>
    <tr>
      <td>1. 0.5ч;</td>
    </tr>
    <tr>
      <td>2. 0.5мин;</td>
    </tr>
    <tr>
      <td>3. 0.5с;</td>
    </tr>
    <tr>
      <td>4. 3 мин 26с;</td>
    </tr>
    <tr>
      <th>Ответ: 0.5с </th>
    </tr>
  </table>

  <h1 id="текс">Текстовый редактор</h1>

  <table>
    <tr><th>1.Текстовый редактор-программа, предназначенная для</th></tr>
    <tr><td>1. Создания, редактирования, форматирования текстовой информации</td></tr>
    <tr><td>2. Работы с изображениями в процессе создания игровых программ</td></tr>
    <tr><td>3. Управление ресурсами ПК при создании документов</td></tr>
    <tr><td>4. Автоматического перевода с символьных языков в машинные коды</td></tr>
    <tr><th>Ответ:</th></tr>
  </table>

  <table>
    <tr><th>2. В ряду "символ" - … - "строка" - "Фрагмент текста" пропущено:</th></tr>
    <tr><td>1. "слово";</td></tr>
    <tr><td>2. "абзац";</td></tr>
    <tr><td>3. "страница";</td></tr>
    <tr><td>4. "текст".</td></tr>
    <tr><th>Ответ:</th></tr>
  </table>

  <table>
    <tr><th>3. К числу основных функций текстового редактора относятся:</th></tr>
    <tr><td>1. копирование, перемещение, уничтожение и сортировка фрагментов текста;</td></tr>
    <tr><td>2. создание, редактирование, сохранение и печать текстов;</td></tr>
    <tr><td>3. строгое соблюдение правописания;</td></tr>
    <tr><td>4. автоматическая обработка информации, представленной в текстовых файлах.</td></tr>
    <tr><th>Ответ: 2. создание, редактирование, сохранение и печать текстов</th></tr>
  </table>

  <table>
    <tr><th>4. Примитивами в графическом редакторе называют:</th></tr>
    <tr><td>1. Простейшие фигуры, рисуемые с помощью специальных инструментов графического редактора;</td></tr>
    <tr><td>2. Операции, выполняемые над файлами, содержащими изображения, созданные в графическом редакторе;</td></tr>
    <tr><td>3. Среду графического редактора;</td></tr>
    <tr><td>4. Режим работы графического редактора;</td></tr>
    <tr><th>Ответ:</th></tr>
  </table>

  <table>
    <tr>
      <th>5. Курсор-это:</th>
    </tr>
    <tr>
    <td>1. Устройство ввода текстовой информации</td></tr>
    <tr><td>2. Клавиша на клавиатуре</td></tr>
    <tr><td>3. Наименьший элемент отображения на экране</td></tr><tr>
    <td>4. Метка на экране монитора, указывающая позицию, в которой будет отображен вводимый с клавиатуры</td></tr>
    <tr><th>Ответ: Метка на экране монитора, указывающая позицию, в которой будет отображен вводимый с клавиатуры</th></tr>
  </table>

  <table>
    <tr>
      <th>7. При наборе текста одно слово от другого отделяется:</th>
    </tr>
    <tr>
      <td>1. Точкой</td>
    </tr>
    <tr>
      <td>2. Пробелом</td>
    </tr>
    <tr>
      <td>3. Запятой</td>
    </tr>
    <tr>
      <td>4. Двоеточием</td>
    </tr>
    <tr>
      <th>Ответ: Пробелом</th>
    </tr>
  </table>
  <table>
    <tr><th>8. С помощью компьютера текстовую информацию можно:</th></tr>
    <tr><td>1. Хранить, получать и обрабатывать</td></tr>
    <tr><td>2. Только</td></tr>
    <tr><td>3. Хранить</td></tr>
    <tr><td>4. Только получать </td></tr>
    <tr><td>5. Только обрабатывать</td></tr>
    <th>Ответ: 1. Хранить, получать и обрабатывать </th></tr>
  </table>
  <table>
    <th>10. Какая операция не принимается для редактирования текста?</th>
    <tr><td>1. Печать текста;</td></tr>
    <tr><td>2. Удаление в тексте неверно набранного символа;</td></tr>
    <tr><td>3. Вставка пропущенного символа;</td></tr>
    <tr><td>4. Замена неверно набранного символа;</td></tr>
    <tr><th>Ответ: Печать текста</th></tr>
  </table>

  <table><tr><th>14. Копирование текстового фрагмента в текстовом редакторе предусматривает в первую очередь:</th></tr>
    <tr><td>1. Указание позиции, начиная с которой должен копироваться объект;</td></tr>
    <tr><td>2. Выделение копируемого фрагмента ;</td></tr>
    <tr><td>3. Выбор соответствующего пункта меню;</td></tr>
    <tr><td>4. Открытие нового текстового окна;</td></tr>
    <tr><th>Ответ:</th></tr>
  </table>
  <table>
    <tr><th>15. Меню текстового редактора-это: </th></tr>
    <tr><td>1. Часть его интерфейса, обеспечивающая переход к выполнению различных операций над текстом;</td></tr>
    <tr><td>2. Подпрограмма, обеспечивающая управление ресурсами ПК при создании документа;</td></tr>
    <tr><td>3. Своеобразное "окно", через которое тест просматривается на экране;</td></tr>
    <tr><td>4. Информация об текущем состоянии текстового редактора</td></tr>
    <tr><th>Ответ:</th></tr>
  </table>
  <table>
    <tr><th>17. Текст, набранный в текстовом редакторе,храниться на внешнем запоминающем устройстве </th></tr>
    <tr><td>1.В виде файла;</td></tr>
    <tr><td>2. Таблицы кодировки;</td>
    </tr><tr><td>3.Каталога;</td></tr>
    <tr><td>4.Директории;</td></tr>
    <tr><th>Ответ:</th></tr>
  </table>

  <table>
    <tr><th>19. Текстовый редактор - при открытии документа с диска пользователь должен указать:</th></tr>
    <tr><td>1. Размер файла;</td></tr>
    <tr><td>2. Тип файла;</td></tr>
    <tr><td>3. Имя файла;</td></tr>
    <tr><td>4. Дату создания файла;</td></tr>
    <tr><th>Ответ: Имя файла</th></tr>
  </table>





  <h1 id="граф">Графический редактор</h1>

  <table>
    <tr>
      <th>1. Одной из основных функций графического редактора является:</th>
    </tr>
    <tr>
      <td>1. Ввод изображений;</td>
    </tr>
    <tr>
      <td>2. Чранение кода изображения;</td>
    </tr>
    <tr>
      <td>3. Создание изображений;</td>
    </tr>
    <tr>
      <td>4. Просмотр и вывод содержимого видеопамяти;</td>
    </tr>
    <tr>
      <th>Ответ: Просмотр и вывод содержимого видеопамяти</th>
    </tr>
  </table>


  <table>
    <tr>
      <th>2. Элементарным объектом, используемым в растровом графическом редакторе:</th>
    </tr>
    <tr>
      <td>1. Точка экрана(пиксель)</td>
    </tr>
    <tr>
      <td>2. Прямоугольник;</td>
    </tr>
    <tr>
      <td>3. Круг;</td>
    </tr>
    <tr>
      <td>4. Политра цветов;</td>
    </tr>
    <tr>
      <td>4. Символ;</td>
    </tr>
    <tr>
      <th>Ответ: Точка экрана(пиксель)</th>
    </tr>
  </table>




  <table>
    <tr>
      <th>3. Деформация изображения при изменении размера рисунка - один из недостатков:</th>
    </tr>
    <tr>
      <td>1. Векторной графики;</td>
    </tr>
    <tr>
      <td>2. Растровой графики;</td>
    </tr>
    <tr>
      <th>Ответ: Растровой графики</th>
    </tr>
  </table>



  <table>
    <tr>
      <th>4. Примитивами в графическом редакторе называют:</th>
    </tr>
    <tr>
      <td>1. Простейшие фигуры, рисуемые с помощью специальных инструментов графического редактора;</td>
    </tr>
    <tr>
      <td>2. Операции, выполняемые над файлами, содержащими изображения, созданные в графическом редакторе;</td>
    </tr>
    <tr>
      <td>3. Мреду графического редактора;</td>
    </tr>
    <tr>
      <td>4. Режим работы графического редактора;</td>
    </tr>
    <tr>
      <th>Ответ:</th>
    </tr>
  </table>

  <table>
    <tr>
      <th>5. Кнопки панели инструментов, палитра, рабочее поле, меню образуют:</th>
    </tr>
    <tr>
      <td>1. Полный набор графических примитивов графического редактора;</td>
    </tr>
    <tr>
      <td>2. Мреду графического редактора;</td>
    </tr>
    <tr>
      <td>3. Перечень режимов работы графического редактора ;</td>
    </tr>
    <tr>
      <td>4. Набор команд, которыми можно воспользоваться при работе с графическим редактором;</td>
    </tr>
    <tr>
      <th>Ответ:</th>
    </tr>
  </table>

  <table>
    <tr>
      <th>6. Наименьшим элементом поверхности экрана для которого могут быть заданы адрес, цвет и интенсивность,
        является:</th>
    </tr>
    <tr>
      <td>1. Точка;</td>
    </tr>
    <tr>
      <td>2. Зерно люминофора;</td>
    </tr>
    <tr>
      <td>3. Пиксель;</td>
    </tr>
    <tr>
      <td>4. Растр;</td>
    </tr>
    <tr>
      <th>Ответ:Пиксель</th>
    </tr>
  </table>

  <table>
    <tr>
      <th>7. Сетка которую на экране образуют пиксели, называют:</th>
    </tr>
    <tr>
      <td>1. Видеопамять;</td>
    </tr>
    <tr>
      <td>2. Видеоадаптер;</td>
    </tr>
    <tr>
      <td>3. Растр;</td>
    </tr>
    <tr>
      <td>4. Дисплейный процессор;</td>
    </tr>
    <tr>
      <th>Ответ: Растр</th>
    </tr>
  </table>

  <table>
    <tr>
      <th>8. Графика с представлением изображения в виде совокупностей точек называется:</th>
    </tr>
    <tr>
      <td>1. Фрактальной;</td>
    </tr>
    <tr>
      <td>2. Растровой;</td>
    </tr>
    <tr>
      <td>3. Векторной;</td>
    </tr>
    <tr>
      <td>4. Прямолинейной;</td>
    </tr>
    <tr>
      <th>Ответ: Растровой </th>
    </tr>
  </table>

  <table>
    <tr>
      <th>9. Пиксель на экране монитора представляет собой:</th>
    </tr>
    <tr>
      <td>1. Минимальный участок изображения, которому независимым образом можно задать цвет;</td>
    </tr>
    <tr>
      <td>2. Двоичный код графической информации;</td>
    </tr>
    <tr>
      <td>3. Электронный луч;</td>
    </tr>
    <tr>
      <td>4. Совокупность 16 зерен люминофора;</td>
    </tr>
    <tr>
      <th>Ответ: Минимальный участок изображения, которому независимым образом можно задать цвет</th>
    </tr>
  </table>

  <table>
    <tr>
      <th>10. Видеоадаптер - это:</th>
    </tr>
    <tr>
      <td>1. Устройство, управляющее работой монитора;</td>
    </tr>
    <tr>
      <td>2. Программа распределяющая ресурсы видеопамяти</td>
    </tr>
    <tr>
      <td>3. Электронное энергозависимое устройство для хранения информации о графическом изображнии;</td>
    </tr>
    <tr>
      <td>4. Процессор монитора;</td>
    </tr>
    <tr>
      <th>Ответ: Устройство, управляющее работой монитора</th>
    </tr>
  </table>

  <table>
    <tr>
      <th>11. Видеопамять - это:</th>
    </tr>
    <tr>
      <td>1. Электронное устройство для хранения двоиного кода изображения, выводимого на экран;</td>
    </tr>
    <tr>
      <td>2. Программа, распределяющая ресурсы видеопамяти;</td>
    </tr>
    <tr>
      <td>3. Электронное энергозависимое устройство для хранения информации о графическом изображении;</td>
    </tr>
    <tr>
      <td>4. Часть оперативного запоминающего устройства;</td>
    </tr>
    <tr>
      <th>Ответ: Это внутренняя оперативная память, отведённая для хранения данных, которые используются для
        формирования изображения на экране монитора</th>
    </tr>
  </table>

  <table>
    <tr>
      <th>12. Для хранения 265-цветов изображения на кодирование одного пикселя выделяется:</td>
    </tr>
    <tr>
      <td>1. 2 байта;</td>
    </tr>
    <tr>
      <td>2. 4 байта;</td>
    </tr>
    <tr>
      <td>3. 256 бит;</td>
    </tr>
    <tr>
      <td>4. 1 байт;</td>
    </tr>
    <tr>
      <th>Ответ: 256 бит</th>
    </tr>
  </table>

  <table>
    <tr>
      <th>13. Цвет точки на экране цветного монитора формируется из сигнала:</th>
    </tr>
    <tr>
      <td>1. Красного, зелёного, синего и яркости;</td>
    </tr>
    <tr>
      <td>2. Красного, зелёного, синего;</td>
    </tr>
    <tr>
      <td>3. Жёлтого, зелёного, синего и красного;</td>
    </tr>
    <tr>
      <td>4. Жёлтого, синего, красного и белого;</td>
    </tr>
    <tr>
      <td>5. Жёлтого, синего, красного и яркости;</td>
    </tr>
    <tr>
      <th>Ответ: Красного, зелёного, синего и яркости </th>
    </tr>
  </table>

  <table>
    <tr>
      <th>14. Растровый графический файл содержит черно-белое изображение (без градаций серого) размером 100 х 100
        точек. Какое информационный обьём этого файла:</th>
    </tr>
    <tr>
      <td>1. 10000 бит;</td>
    </tr>
    <tr>
      <td>2. 10000 байт;</td>
    </tr>
    <tr>
      <td>3. 10 кбайт;</td>
    </tr>
    <tr>
      <td>4. 1000 бит;</td>
    </tr>
    <tr>
      <th>Ответ: 10000 бит</th>
    </tr>
  </table>

  <table>
    <tr>
      <th>15. Растровый графический файл содержит черно-белое изображение с16 градациями серого цвета размером 10 х 10
        точек. Каков объём этого файла:</th>
    </tr>
    <tr>
      <td>1. 100 бит;</td>
    </tr>
    <tr>
      <td>2. 400 байт;</td>
    </tr>
    <tr>
      <td>3. 800 бит;</td>
    </tr>
    <tr>
      <td>4. 100 байт;</td>
    </tr>
    <tr>
      <th>Ответ: 400 байт</th>
    </tr>
  </table>

  <table>
    <tr>
      <th>16. Для двоичного кодирования цветного рисунка (256 цветов) размером 10 х 10 точек требуется:</th>
    </tr>
    <tr>
      <td>1. 100 бит;</td>
    </tr>
    <tr>
      <td>2. 100 байт;</td>
    </tr>
    <tr>
      <td>3. 400 бит;</td>
    </tr>
    <tr>
      <td>4. 800 байт;</td>
    </tr>
    <tr>
      <th>Ответ: 100 байт</th>
    </tr>
  </table>

  <!--Конец работы Гоголева Дмитрия-->

  <h1 id="элек">Электронные таблицы</h1>

<!--Начало работы Попика Макара-->

  <table>
    <tr>
      <th>1. Электронная таблица- это:</th>
   </tr>
    <tr>
      <td>1. Прикладная програмна, предназначенная для обработки структурированных в виде таблицы данных</td>
    </tr>
    <tr>
      <td>2. Прикладная програнма для обработки кодовых таблиц</td>
    </tr>
    <tr>
      <td>3. Устройство ПК, управляющее его ресурсами в процессе об днных в табличной</td>
    </tr>
    <tr>
      <td>4. Системная програнма, управляющая ресурсами ПК при обработке таблиц.</td>
    </tr>
    <tr>
      <th>Ответ:</th>
    </tr>
  </table>

  <table border="1">
    <tr>
      <th>2. Электронная таблица предназначена для:</th>
    </tr>
    <tr>
      <td>1. Обработки преимущественно числовых данных, структурировонных с помощью таблиц</td>
    </tr>
    <tr>
      <td>2. Упоредоченного хранения и обработки значительных массивов данных</td>
    </tr>
    <tr>
      <td>3. Визуализации структурных связей между данными, представленными в таблицах</td>
    </tr>
    <tr>
      <td>4. Редактирования графических представлений больших объенов информации.</td>
    </tr>
    <tr>
      <th>Ответ:</th>
    </tr>
  </table>

  <table border="1">
    <tr>
      <th>3. Электронная таблица представляет собой:</th>
    </tr>
    <tr>
      <td>1. Совокупность нумерованных строк и поименованных буквани латинского алфавита столбцов</td>
    </tr>
    <tr>
      <td>2.  Совокупность поиненованных буквани латинского алфавита строк и нумерованных столбцов</td>
    </tr>
    <tr>
      <td>3. Совокупность пронумерованных строк и столбщов</td>
    </tr>
    <tr>
      <td>4. Совокупность строк и столбцов, именуемых пользователем произвольным образом.</td>
    </tr>
    <tr>
      <th>Ответ:</th>
    </tr>
  </table>

  <table border="1">
    <tr>
      <th>4. Строки электронной таблицы:</th>
    </tr>
    <tr>
      <td>1. Именуются пользователями произвольным образом</td>
    </tr>
    <tr>
      <td>2. Обозначаются буквани русского алфавита</td>
    </tr>
    <tr>
      <td>3. Обозначаются буквами латинского алфавита</td>
    </tr>
    <tr>
      <td>4. Нумеруются.</td>
    </tr>
    <tr>
      <th>Ответ:</th>
    </tr>
  </table>

  <table border="1">
    <tr>
      <th>5. В общем случае столбы электронной таблицы:</th>
    </tr>
    <tr>
      <td>1. Обозначаются буквани латинского алфавита</td>
    </tr>
    <tr>
      <td>2. Нумеруются</td>
    </tr>
    <tr>
      <td>3. Обозначаются буквами русского алфавита</td>
    </tr>
    <tr>
      <td>4. Именуются пользователями произвольным образом.</td>
    </tr>
    <tr>
      <th>Ответ:</th>
    </tr>
  </table>

  <table border="1">
    <tr>
      <th>6. Для пользователя ячейка электронной таблицы идентифицируются:
      </th>
    </tr>
    <tr>
      <td>1. Путем последовательного указания имени столбца и номера строки, на пересечении которых располагается ячейка</td>
    </tr>
    <tr>
      <td>2. Адресом машинного слова оперативной памяти, отведенного под ячейку</td>
    </tr>
    <tr>
      <td>3. Специальным кодовым словом</td>
    </tr>
    <tr>
      <td>4.Именем, произвольно задаваемым пользователем.
      </td>
    </tr>
    <tr>
      <th>Ответ:</th>
    </tr>
  </table>

<!--Конец работы Попика Макара-->

<!--Стригун пётр-->

<table border="1">
  <tr>
    <th>9. Выберите верную запись формулы для электронной таблицы:</th>
  </tr>
  <tr>
    <td>1) С3+4*D4</td>
  </tr>
  <tr>
    <td>2) С3=С1+2*С2</td>
  </tr>
  <tr>
    <td>3) А5В5+23</td>
  </tr>
  <tr>
    <td>4) =А2*А3-А4</td>
  </tr>
  <tr>
    <th>Ответ:</th>
  </tr>
</table>

  <table>
        <tr>
            <th>15. Чему будет равно значение ячейки C1, если в нее ввести формулу =А1+В1:</th>
          </tr>
        <tr>
            <td>1. 20</td>
          </tr>
        <tr>
            <td>2. 15</td>
          </tr>
        <tr>
            <td>3. 10</td>
          </tr>
        <tr>
            <td>4. 30</td>
          </tr>
        <tr>
            <th>Ответ: 10</th>
          </tr>
      </table>



  <h1 id="база">База данных</h1>

<!--Гордиевич Павел-->

<table border="1">
  <tr>
    <th>5. Что из перечисленного не является объектом Access:</th>
  </tr>
  <tr>
    <td>1) Модули</td>
  </tr>
  <tr>
    <td>2) Таблицы</td>
  </tr>
  <tr>
    <td>3) Макросы</td>
  </tr>
  <tr>
    <td>4) Ключи</td>
  </tr>
  <tr>
    <td>5) Формы</td>
  </tr>
  <tr>
    <td>6) Отчеты</td>
  </tr>
  <tr>
    <td>7) Запросы</td>
  </tr>
  <tr>
    <th>Ответ:</th>
  </tr>
</table>

<!--Ольхов Даниил-->

<table border="1">
  <tr>
    <th>7. Для чего предназначены формы:</th>
  </tr>
  <tr>
    <td>1) Для хранения данных базы</td>
  </tr>
  <tr>
    <td>2) Для отбора и обработки данных базы</td>
  </tr>
  <tr>
    <td>3) Для ввода данных базы и их просмотра</td>
  </tr>
  <tr>
    <td>4) Для автоматического выполнения группы команд</td>
  </tr>
  <tr>
    <td>5) Для выполнения сложных програмных действий</td>
  </tr>
  <tr>
    <th>Ответ:</th>
  </tr>
</table>

<!--Шакир Гусейнов-->

<table border="1">
  <tr>
    <th>14. В каких элементах таблицы хранятся данные базы:</th>
  </tr>
  <tr>
    <td>1) В полях</td>
  </tr>
  <tr>
    <td>2) В строках</td>
  </tr>
  <tr>
    <td>3) В столбцах</td>
  </tr>
  <tr>
    <td>4) В записях</td>
  </tr>
  <tr>
    <td>5) В ячейках</td>
  </tr>
  <tr>
    <th>Ответ:</th>
  </tr>
</table>

<!--Яцентюк Артём-->

<table border="1">
  <tr>
    <th>19. Какое поле можно считать уникальным?</th>
  </tr>
  <tr>
    <td>1) Поле, значения в котором не могут повторяться</td>
  </tr>
  <tr>
    <td>2) Поле, которое носит уникальное имя</td>
  </tr>
  <tr>
    <td>3) Поле, значение которого имеют свойство наращивания</td>
  </tr>
  <tr>
    <th>Ответ:</th>
  </tr>
</table>

  <!--Кнопка вверх (начало настроек)-->

  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  <script>
    // Get the button:
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  </script>
  <style>
    #myBtn {
      display: none;
      /* Скрыть и раскрыть с помощью JS */
      position: fixed;
      /* Фиксирование кнопки */
      bottom: 20px;
      /* Расположение кнопки снизу */
      right: 30px;
      /* Расположение кнопки справо */
      z-index: 99;
      /* что-то */
      border: none;
      /* Удаление бортиков */
      outline: none;
      /* Удаление внешних линий */
      background-color: rgb(20, 20, 20);
      /* цвет кнопки */
      color: white;
      /* цвет текста */
      cursor: pointer;
      /* Добавить чувствительность курсора к кнопке */
      padding: 15px;
      /* Паддинг (Увелечение внутренних границ) */
      border-radius: 10px;
      /* Сглаживание углов кнопки */
      font-size: 18px;
      /* Размер кнопки */
    }

    #myBtn:hover {
      background-color: #555;
      /* Цвет при наведении курсора на кнопку */
    }
  </style>

  <!--Завершение настроек кнопки вверх-->
</body>

</html>
