{% extends 'base/base.html' %}

{% block title %}
Введение в Excel
{% endblock%}


{% block body %}
<h1>Введение в Excel</h1>
<p><b>Excel</b>Это программа, предназначенная для организации информации в таблицы для документирования, сопоставления и графического представления информации.</p>
<p>
    Например, Excel можно использовать для:
    <ul>
        <li>Создания бюджетов и отслеживания финансовых операций</li>
        <li>Анализа данных с помощью формул и функций</li>
        <li>Создания графиков и диаграмм для визуализации данных</li>
        <li>Управления списками и базами данных</li>
        <li>Расчета и анализа статистики</li>
    </ul>
</p>
<p>Используй для практики: <a href="https://docs.google.com/">google таблицы</a></p>


{% endblock%}