{% extends 'base/base.html' %}

{% block title %}
инициализация
{% endblock%}


{% block body %}
<h1 >Запуск проекта</h1>
<h2> FLASK</h2>
 <p>Для того,чтобы запустить проект его нужно изночально скачать.</p>
 <p>Так как исходный код принято хронить на системах контроля версии git</p>
 <p>мы воспользуемся ресурсом github.Ниже представлена ссылка на проект.</p>
 <div> <p><a href="https://github.com/IT-Legion/IT-Legion.git">-ссылка-</a></p></div>
<p>Выше представлен пример для копирования ссылки на репозиторий.</p>
<p>как вы поняли её надо скопировать и вставить в специальное поле в <b>VS-code</b></p>

<img src="static/images/github_1.png" alt="Пример-1">
<img src="static/images/github_2.png" alt="Пример-2">

{% endblock%}