{% extends 'base/base.html' %}

{% block title %}
инициализация
{% endblock%}

{% block individual_style %}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery figure {
    flex: 0 0 30%;
    /* 30% ширины для каждого элемента */
    margin-bottom: 20px;
    /* Добавьте немного отступа снизу для воздуха между рядами */
}

.gallery img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Центрируем изображения */
}
{% endblock%}




{% block body %}
<h1>Запуск проекта</h1>
<h2> FLASK</h2>
<p>Для того,чтобы запустить проект его нужно изночально скачать.</p>
<p>Так как исходный код принято хронить на системах контроля версии git</p>
<p>мы воспользуемся ресурсом github.Ниже представлена ссылка на проект.</p>
<div>
    <p><a href="https://github.com/IT-Legion/IT-Legion.git">-ссылка-</a></p>
</div>
<p>Выше представлен пример для копирования ссылки на репозиторий.</p>
<p>как вы поняли её надо скопировать и вставить в специальное поле в <b>VS-code</b></p>

<div class="gallery">
    <figure>
        <figcaption>Шаг-1й </figcaption>
        <img width="400" height="400" src="static/images/github_1.png" alt="Пример-1">
    </figure>
    <figure>
        <figcaption>Шаг-2 </figcaption>
        <img width="400" height="400" src="static/images/github_2.png" alt="Пример-2">
    </figure>4

    <figure>
        <figcaption>Шаг-3 </figcaption>
        <img width="400" height="400" src="static/images/github_3.png" alt="Пример-3">
    </figure>
    <figure>
        <figcaption>Шаг-4 </figcaption>
        <img width="400" height="400" src="static/images/github_4.png" alt="Пример-4">
    </figure>
    <figure>
        <figcaption>Шаг-5 </figcaption>
        <img width="400" height="400" src="static/images/github_5.png" alt="Пример-5">
    </figure>
    <figure>
        <figcaption>Шаг-6 </figcaption>
        <img width="400" height="400" src="static/images/github_6.png" alt="Пример-6">
    </figure>
    <figure>
        <figcaption>Шаг-7 </figcaption>
        <img width="400" height="400" src="static/images/github_7.png" alt="Пример-7">
    </figure>
    <figure>
        <figcaption>Шаг-8 </figcaption>
        <img width="400" height="400" src="static/images/github_8.png" alt="Пример-8">
    </figure>


    <figure>
        <figcaption>Шаг-9 </figcaption>
        <img width="400" height="400" src="static/images/github_9.png" alt="Пример-9">
    </figure>
    <figure>
        <figcaption>Шаг-10 </figcaption>
        <img width="400" height="400" src="static/images/github_10.png" alt="Пример-10">
    </figure>
    <figure>
        <figcaption>Шаг-11 </figcaption>
        <img width="400" height="400" src="static/images/github_11.png" alt="Пример-11">
    </figure>
    <figure>
        <figcaption>Шаг-12 </figcaption>
        <img width="400" height="400" src="static/images/github_12.png" alt="Пример-12">
    </figure>
    <figure>
        <figcaption>Шаг-13 </figcaption>
        <img width="400" height="400" src="static/images/github_13.png" alt="Пример-13">
    </figure>
    <figure>
        <figcaption>Шаг-14 </figcaption>
        <img width="400" height="400" src="static/images/github_14.png" alt="Пример-14">
    </figure>
    <figure>
        <figcaption>Шаг-15 </figcaption>
        <img width="400" height="400" src="static/images/github_14.png" alt="Пример-15">
    </figure>
    <figure>
        <figcaption>Шаг-16 </figcaption>
        <img width="400" height="400" src="static/images/github_16.png" alt="Пример-16">
    </figure>
    <figure>
        <figcaption>Шаг-17 </figcaption>
        <img width="400" height="400" src="static/images/github_17.png" alt="Пример-17">
    </figure>
    <figure>
        <figcaption>Шаг-18 </figcaption>
        <img width="400" height="400" src="static/images/github_18.png" alt="Пример-18">
    </figure>
    <figure>
        <figcaption>Шаг-19 </figcaption>
        <img width="400" height="400" src="static/images/github_19.png" alt="Пример-19">
    </figure>
    <figure>
        <figcaption>Шаг-20 </figcaption>
        <img width="400" height="400" src="static/images/github_20.png" alt="Пример-20">
    </figure>
    <figure>
        <figcaption>Шаг-21 </figcaption>
        <img width="400" height="400" src="static/images/github_21.png" alt="Пример-21">
    </figure>
    <figure>
        <figcaption>Шаг-22 </figcaption>
        <img width="400" height="400" src="static/images/github_22.png" alt="Пример-22">
    </figure>
    <figure>
        <figcaption>Шаг-23 </figcaption>
        <img width="400" height="400" src="static/images/github_23.png" alt="Пример-23">
    </figure>
    <figure>
        <figcaption>Шаг-24 </figcaption>
        <img width="400" height="400" src="static/images/github_24.png" alt="Пример-24">
    </figure>
    <figure>
        <figcaption>Шаг-25 </figcaption>
        <img width="400" height="400" src="static/images/github_25.png" alt="Пример-25">
    </figure>
    <figure>
        <figcaption>Шаг-26 </figcaption>
        <img width="400" height="400" src="static/images/github_26.png" alt="Пример-26">
    </figure>
    <figure>
        <figcaption>Шаг-27 </figcaption>
        <img width="400" height="400" src="static/images/github_27.png" alt="Пример-27">
    </figure>
    <figure>
        <figcaption>Шаг-28 </figcaption>
        <img width="400" height="400" src="static/images/github_28.png" alt="Пример-28">
    </figure>
    <figure>
        <figcaption>Шаг-29 </figcaption>
        <img width="400" height="400" src="static/images/github_29.png" alt="Пример-29">
    </figure>
    <figure>
        <figcaption>Шаг-30 </figcaption>
        <img width="400" height="400" src="static/images/github_30.png" alt="Пример-30">
    </figure>
    <figure>
        <figcaption>Шаг-31 </figcaption>
        <img width="400" height="400" src="static/images/github_31.png" alt="Пример-31">
    </figure>
    <figure>
        <figcaption>Шаг-32 </figcaption>
        <img width="400" height="400" src="static/images/github_32.png" alt="Пример-32">
    </figure>
</div>
{% endblock%}