{% extends 'base/base.html' %}

{% block title %}
инициализация
{% endblock%}


{% block body %}
<h1 >Запуск проекта</h1>
<h2> FLASK</h2>
 <p>Для того,чтобы запустить проект его нужно изночально скачать.</p>
 <p>Так как исходный код принято хронить на системах контроля версии git</p>
 <p>мы воспользуемся ресурсом github.Ниже представлена ссылка на проект.</p>
 <div> <p><a href="https://github.com/IT-Legion/IT-Legion.git">-ссылка-</a></p></div>
<p>Выше представлен пример для копирования ссылки на репозиторий.</p>
<p>как вы поняли её надо скопировать и вставить в специальное поле в <b>VS-code</b></p>

<img src="static/images/github_1.png" alt="Пример-1">
<img src="static/images/github_2.png" alt="Пример-2">
<img src="static/images/github_3.png" alt="Пример-3">
<img src="static/images/github_4.png" alt="Пример-4">
<img src="static/images/github_5.png" alt="Пример-5">
<img src="static/images/github_6.png" alt="Пример-6">
<img src="static/images/github_7.png" alt="Пример-7">
<img src="static/images/github_8.png" alt="Пример-8">
<img src="static/images/github_9.png" alt="Пример-9">
<img src="static/images/github_10.png" alt="Пример-10">


{% endblock%}