<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <div id="popup" class="popup" style="display: none;">
        <p>Ты любишь кильку в томатном соусе от бренда "Русская рыба" из магазина магнит возле каменной 9 рядом со школо номер 4 в которой учусь я?
        </p>
        <button onclick="agree()">Да</button>
        <button id="noButton" onclick="disagree()">Нет</button>
      </div>
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
</body>
</html>