{% extends 'base/base.html' %}

{% block title %}
Введение в ИБ
{% endblock%}
{% block individual_style %}
<style>
    h2 {
        margin: 0 0 1em;

    }

    p {
        margin: 0 0 1em;
    }

    .content {
        padding: 0 0 1rem;
    }

    .slide {}

    .all_left {
        width: 50%;
        /* Устанавливаем ширину 50%, чтобы обеспечить двум блокам равные части горизонтального пространства */
    }

    .all_right {
        width: 50%;
        /* Устанавливаем ширину 50% */
    }
</style>


{% endblock%}


{% block body %}

<div class="content">
    <div class="slide">
        <h1>Введение в информационную безопасность.</h1>
    </div>
    <div class="slide">
        <h2>Базовые понятияинформационной безопасности </h2>

        <p><i>Информация</i> — это сведения (сообщения, данные),
            независимо от формы их представления.
        </p>

        <p>Это закреплено в законодательстве Российской Федерации — в ст. 2 Федерального закона от 27.07.2006
            No 149-ФЗ «Об информации, информационных технологиях и о защите информации»
            Систему официальных взглядов на обеспечение национальной безопасности РФ в информационной сфере,
            то есть обеспечение ИБ, представляет Доктрина информационной безопасности Российской Федерации,
            которая утверждена Указом Президента РФ от 05.12.2016 г. No 646
        </p>
        <p>
            Информационная безопасность — это состояние
            защищённости информационных внешних ресурсов
            организации от внутренних и внешних угроз.
        </p>
        <p>
            информационные ресурсы — это данные или сведения и
            активы компании, на которых обрабатывается
            информация.
        </p>

        <p>
            Отдельно в нормативном поле можно встретить термин:
            «защита информации». Это деятельность, направленная
            на предотвращение утечки защищаемой информации,
            несанкционированных и непреднамеренных воздействий
            на защищаемую информацию.
        </p>
    </div><!-- slide -->
    <div class="slide">
        <h2>Триада «конфиденциальность, доступность, целостность»</h2>
        <p>Основная концепция информационной безопасности построена на обеспечении трёх основных свойств:</p>
        <p><b>Конфиденциальность информации</b>— это состояние информации, при котором доступ к ней
            осуществляют только субъекты, имеющие на него право.</p>
        <p><b>Целостность информации</b> — это состояние информации, при котором её изменение
            осуществляется только субъектами, имеющими на него право.</p>
        <p><b>Доступность информации</b> — это состояние информации, при котором субъекты,
            имеющие право доступа (то есть право на чтение, изменение,
            копирование, уничтожение информации, а также право на
            изменение, использование, уничтожение ресурсов), могут
            реализовать его беспрепятственно.</p>
    </div><!-- slide -->

    <div class="slide">
       
        <div class="all_left">
             <h2>Классификация угроз информационной безопасности</h2>
            <p>Угроза безопасности информации —
                совокупность условий и факторов,
                создающих потенциальную или реально
                существующую опасность нарушения
                безопасности информации.
                Угроза ИБ может вызывать негативные
                последствия (ущерб/вред) для организации.
                Она характеризуется наличием объекта,
                источника и проявления угрозы. Форма
                проявления угрозы ИБ — наступление
                одного или нескольких взаимосвязанных
                событий, которые приводят к нарушению
                свойств информационной безопасности
                (КЦД). Предпосылкой к этому может быть
                недостаток или слабое место в
                информационном ресурсе. Его принято
                называть уязвимостью</p>
        </div><!-- all_left -->
        <div class="all_right">


        </div><!-- all_right -->

    </div><!-- slide -->


    <div class="slide">
        <h2>Типы процессов: семантические</h2>
        <div class="all_left">
            <p><b>Процесс ИБ</b>- это верхнеуровневая единица, в её обеспечение входят несколько базовых типов
                процессов и подпроцессов. Для выстраивания хорошего контура защиты информации необходимо
                задействовать организационные, технические и коммуникационные навыки.
                Процессы защиты информации — это методы сохранности информации, к которым вы будете
                прибегать. К ним относятся организационные, технические и коммуникационные типы процессов. </p>
            <p><b>Организационные методы</b>— включают в себя комплекс законодательных, правовых и локальных
                актов (норм), устанавливающих правовой статус субъектов
                информационных отношений, методов, форм и способов защиты.
                Также здесь учитывается координация мероприятий и технических мер
                по защите информации</p>
            <p><b>Технические методы:</b>— реализуются при помощи средств физического, программно-
                аппаратного уровня. </p>
            <p><b>Коммуникационные методы:</b>— это процессы и способы, в которых вы не добьётесь желаемого
                результата без коммуникации со сторонними лицами как внутри
                компании, так и снаружи.</p>
        </div>

        <div class="all_right">


        </div><!-- all_right -->

    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div>
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->
    <div class="slide">
        <h2></h2>
    </div><!-- slide -->




</div><!--content-->





{% endblock%}