{% extends 'base/base.html' %}  <!-- Наследует с  базового шаблона -->
<!-- (можно переопределить в дочерних шаблонах) -->
{% block title %}информация о подключении к сети{% endblock %} <!-- Заголовок страницы -->
{% block individual_style %}<style> </style>{% endblock %} <!-- Индивидуальный стиль страницы. Вставьте блок в нужную страницу и в него тег <style></style> -->
{% block body %}

en0: Это название сетевого интерфейса, по которому ты подключен к интернету. Представь его как номерной знак автомобиля.
flags: Это флаги, которые говорят о том, какие особенности есть у этого интерфейса. Например, "UP" значит, что сеть активна, "BROADCAST" - что данные могут отправляться всем в сети, а "RUNNING" - что сеть работает.
mtu: Это максимальный размер пакета данных, который можно отправить через этот интерфейс. Это, как максимальный вес грузовика, который может проехать по дороге.
ether: Это MAC-адрес, который является уникальным идентификатором твоего устройства в сети. Ты можешь его представить как уникальный номер автомобиля.
inet6: Это твой IP-адрес в формате IPv6. Это как адрес твоего дома, но в более современном формате.
inet: Это твой IP-адрес в формате IPv4. Это как адрес твоего дома в старом стиле.
broadcast: Это адрес, на который отправляются широковещательные сообщения, которые должны быть услышаны всеми в сети. Это как громкая реклама, которую слышат все в городе.
media: Это тип соединения, который используется для подключения к сети. Например, "1000baseT" означает, что это подключение работает на скорости 1000 Мбит/с через витую пару.
status: Это статус подключения. "active" означает, что подключение активно и работает.

{% endblock %} <!-- Основное содержимое страницы  -->
