<!-- Индивидуальный стиль страницы. Вставьте блок в нужную страницу и в него тег <style></style> -->
{% block individual_style %}
<style> 

/* Тут стили */


</style>
{% endblock %} 
<!-- Индивидуальный стиль страницы. Вставьте блок в нужную страницу и в него тег <style></style> -->


{% block body %} <!-- Основное содержимое страницы  -->

<!-- Замечание! Заголовки не нумеруются h1 используется 1 раз остальные сколько нужно -->
<!-- пример -->

<!-- Нельзя повторять -->
<h1>Заголовок</h1>
<!-- Нельзя повторять -->

<!-- Можно повторять -->
<h2>Заголовок</h2>
<h3>Заголовок</h3>
<h4>Заголовок</h4>
<h5>Заголовок</h5>
<h6>Заголовок</h6>
<!-- Можно повторять -->



<!-- TODO разметить и застилизовать -->
<h1>Что такое Тинкер кард?</h1>
<p>Tinkercad – это онлайн-сервис по разработке 3Д-проектов для начинающих. Использовать продукт можно только после регистрации аккаунта. 
Для этого необходимо перейти на официальный ресурс разработчика софта Autodesk: tinkercad.com/join/.</p>

<p> Есть три вида учётных записей:
1.для преподавателей;
2.учащихся;
3.персональный аккаунт</p>

<p>Приложение Tinkercad (Тинкеркад) предлагает множество вариантов вёрстки 3Д-проектов. Можно создавать модели полностью с нуля, 
либо редактировать уже имеющиеся образцы. 
Программа позволяет импортировать проекты из таких популярных расширений как .stl, .obj  и .svg.
Онлайн-формат предполагает быстрый обмен моделями между пользователями. 
С помощью встроенных инструментов можно экспортировать проекты для последующей работы в других более мощных редакторах или печати
 на 3Д-принтерах.
С пониманием основ приложения проблем не возникает. Здесь мы имеем простое перетаскивание форм или каких-то отдельных фигур по рабочей 
сетке. 
Каждый элемент можно изменить с помощью широкого набора инструментов для редактирования.</p>

<p>Программа работает в формате онлайн, поэтому скачивать ничего не нужно. То есть дистрибутива у Tinkercad нет в принципе. 
Сервис не взимает плату за использование и является своего рода рекламой для более продвинутых платных приложений разработчика.
Всё что нужно для работы с Tinkercad – это стабильное соединение с Сетью и устройство ввода. В качестве последнего можно использовать 
как привычную мышь, так и планшеты 
с трекпадами.</p>

<h2>Как научиться работать в Tinkercad</h2>
<p>По завершению регистрации откроется рабочая зона программы. Мастер-помощник предложит ознакомительный тур по ключевым инструментам 
    сервиса. 
Увы, но русскоязычной локализации видеоурока нет, поэтому тем, кто не силён в английском языке целесообразнее пользоваться 
русифицированным текстовым справочником.</p>

<h3>Интерфейс</h3>
<p>Для доступа ко всем проектам следует нажать на логотип Tinkercad в верхнем левом углу рабочей зоны. 
При первом запуске здесь находятся примеры и отдельные модули для начала работы. В верхней части интерфейса можно увидеть значок 
галереи, где расположены проекты других 
пользователей, выход в Блог и ссылку на мастера-помощника.Далее идёт строка поиска посредством которой можно отыскать модули по 
обозначенным параметрам.
По клику на аватарке пользователя разворачивается ветка меню: создание нового проекта, просмотр существующих, уведомления, настройки 
аккаунта и выход из профиля.
В разделе «Настройки учётной записи» можно вносить изменения в личные данные, а также подключаться к облачным сервисам для печати 
3Д-проектов. 
После внесения необходимых изменений не забываем сохранять их.Местные рекламные оповещения достаточно агрессивные, поэтому нелишним 
будет убрать соответствующие галочки 
в блоке уведомлений. Иначе на почтовый ящик будут с завидной регулярностью приходить самые разные предложения, причём не только от 
Autodesk, но и партнёров компании.
Боковая панель интерфейса отражает текущий прогресс по проектам и обучающим турам. Здесь можно сортировать модули и закреплять их 
к блокам посредством мыши и фильтров. 
Бо́льшую часть рабочей зоны занимают миниатюры проектов, размеры которых можно обозначить в «Настройках».</p>

<h4>Создание модулей с нуля</h4>
<p>Сервис позволяет создавать абсолютно новые 3Д-модули без привлечения сторонних баз. Для этого необходимо кликнуть на голубой кнопке 
    «Создать новый проект». 
Приложение в автоматическом порядке даёт ему имя с оглядкой на дату и личные данные пользователя. Для переименования достаточно 
нажать пару раз на заголовок и ввести свой.</p>

<h5>Копирование модулей</h5>
<p>С помощью Tinkercad можно редактировать, копировать и распечатывать 3Д-проекты других участников сервиса. Для просмотра модулей 
    необходимо перейти в раздел «Галерея».
Из представленного списка выбираем понравившуюся работу и жмём на кнопку «Копировать» (Tinker this).Модуль переопределяется как новый 
проект, 
а текущий пользователь может вносить необходимые изменения. Но здесь есть некоторые ограничения. Далеко не все работы находятся в 
свободном доступе. 
Ряд модулей помечены как «Нет производных работ». То есть их можно визуализировать, но редактировать нельзя.
На каждом проекте в галерее есть кнопка «Просмотреть в 3Д». Вращать модель можно с помощью зажатой правой клавишей мыши, либо удерживать комбинацию Ctrl + Shift и 
передвигать курсор. Программа позволяет сохранить понравившуюся работу на жёсткий диск, нажатием на кнопку «Загрузить».</p>

<h6>Импорт модулей</h6>
<p>Если представленный набор проектов Tinkercad по каким-либо причинам не подходит, то можно импортировать модули, созданные в других 
программах по работе с 3Д-графикой. 
То же самое касается сторонних образцов, размещённых на тематических веб-ресурсах.Кнопка «Импорт» находится в верхней части интерфейса 
приложения. Файл предварительно должен 
быть скачан на жёсткий диск. Программа распознаёт только 3 формата: .stl, .obj и .svg. Также есть ограничение по размеру – не более 
25 Мб. В появившемся диалоговом окне 
настраиваем параметры модели: задаём размеры, масштаб и прочее. После чего кликаем на кнопке «Импорт».Завидной популярностью как у 
начинающих, так и продвинутых 3Д-дизайнеров 
пользуется стоковый ресурс Thingeverse (thingiverse.com). Сервис предлагает массу бесплатных и платных 3Д-образцов любой вкус и цвет.</p>

<h7>Эскизы</h7>
<p>Создавать новые 3Д-проекты можно из эскизов (скетчей). Программа также позволяет рисовать последние: переходим в меню, открываем 
«Основные формы» 
и запускаем инструмент «Эскизы». Получившуюся 2Д-иллюстрацию Tinkercad преобразует в полноценную 3Д-модель. Достаточно перетащить 
скетч в рабочую зону и задать 
необходимые параметры.
Ещё один популярный метод создания 3Д-визуализации из эскизов – это преобразование обычных графических файлов формата JPG в SVG. 
При этом понадобится сторонний конвертер, 
к примеру, online-convert.com: загружаем изображение, выбираем конечный формат – SVG и жмём на «Выполнить». После чего остаётся
 провести импорт файла через интерфейс Tinkercad.
Для справки! Конвертирование 2Д-изображений в 3Д-объёкты проходит с меньшими потерями качества, если источник монохромный. 
Также стоит помнить о максимально размере файла – 25 Мб. Высокое разрешение и насыщенные цвета заметно добавляют веса картинкам</p>

<h8>Заключение</h8>
<p>В последнее время наблюдается конвергенция технологий. Десктопный софт активно использует веб-инструменты и веб-библиотеки, а 
онлайн-сервисы задействуют 
ресурсы персонального компьютера, к примеру, рендеринг посредством видеокарты.Разработчики ПО убеждены, что в будущем граница между 
офлайном и онлайном 
будет полностью размыта. Кэширование и бэкап выведут на новый уровень качество взаимодействия софта и конечного пользователя. Онлайн-сервисы для 3Д-моделирования вроде 
Tinkercad имеют ряд весомых преимуществ:
1.Отсутствие затрат на запуск. Нет необходимости скачивать дистрибутив и устанавливать его. Достаточно регистрации на сайте.
2.Обновления. Сервис всегда имеет последнюю версию.
3.Нет привязки к ОС. Приложение не засоряет реестр и не загружает системные ресурсы, а для его удаления достаточно закрыть вкладку в 
браузере.</p>

<h9>Заключение</h9>
<p>Пожалуй, единственный критичный недостаток – невозможность работать офлайн. Учитывая, что далеко не все интернет-провайдеры могут 
    обеспечить бесперебойный доступ к 
Сети, у многих могут возникнуть проблемы с доступом к сервису.</p>
{% endblock %} 
