{% extends 'base/base.html' %}  <!-- Наследует с  базового шаблона -->
<!-- (можно переопределить в дочерних шаблонах) -->
{% block title %}{% endblock %} <!-- Заголовок страницы -->
{% block individual_style %}
<style>
    p {
       padding-bottom: 1em;
    }
 
    h2 {
       padding-bottom: 1em;
    }
 
    .container {
       display: flex;
    }
 
    .all_left {
       width: 30%;
       /* Устанавливаем ширину 50%, чтобы обеспечить двум блокам равные части горизонтального пространства */
    }
 
    .all_right {
       width: 70%;
       /* Устанавливаем ширину 50% */
    }
    .test{
       padding: 100px;
       background-color: rgb(18, 192, 76);
    }
 </style>


{% endblock %} <!-- Индивидуальный стиль страницы. Вставьте блок в нужную страницу и в него тег <style></style> -->
{% block body %}
<h1>Классификация видов угроз информационной безопасности</h1>
<div class="slide">
<div class="container"

<div>
    <h1>Доступность</h1>
<h2>Внутрений отказ информационой системы</h2>
<div>
    <ul>
        <li>*Нарушение установленных правил эксплутации</li>
        <li>*Выход системы из штатного режима эксплутации</li>
        <li>*Ошибки при (пере)конфигурировании системы</li>
        <li>*Вредоносное программное обеспечение</li>
        <li>*Отказы программного и аппаратного обеспечения</li>
        <li>*Разрешение данных</li>
        <li>*Разрушение или повреждение аппаратуры</li>
    </ul>
    <div class="all_right">
        <h1>Отказ поддерживающей инфраструктуру</h1>
<p>sdhfuidsgfukdshisdohfdsifjhdskifhdskfhdskfhds</p>
</div>



    {% endblock %} <!-- Основное содержимое страницы  -->
