{% extends 'base/base.html' %} <!-- Наследует с  базового шаблона -->
<!-- (можно переопределить в дочерних шаблонах) -->
{% block title %}TelegramBot{% endblock %} <!-- Заголовок страницы -->
{% block individual_style %}<style>
    p {
        padding-bottom: 1em;
    }

    h2 {
        padding-bottom: 1em;
    }

    .container {
        display: flex;
    }

    .all_left {
        width: 30%;
        /* Устанавливаем ширину 50%, чтобы обеспечить двум блокам равные части горизонтального пространства */
    }

    .all_right {
        width: 70%;
        /* Устанавливаем ширину 50% */
    }

    .test {
        padding: 100px;
        background-color: rgb(18, 192, 76);
    }



    .slide {
        padding-bottom: 1em;
    }

    main {
        padding: 20px;
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 5em;
    }
</style>{% endblock %}
<!-- Индивидуальный стиль страницы. Вставьте блок в нужную страницу и в него тег <style></style> -->
{% block body %}

<main>
    <article>
        <div class="slide">
            <h1>Папка __pycache__ </h1>
            <div class="container">
                <p>Папка __pycache__ - это кэш-папка, создаваемая интерпретатором Python для хранения скомпилированных
                    версий файлов Python (.py) в формате байт-кода (.pyc или .pyo). Это делается для ускорения загрузки
                    модулей в последующих запусках программы.

                    Когда вы импортируете модуль в Python, интерпретатор проверяет наличие файла .pyc в папке
                    __pycache__ для этого модуля. Если .pyc файл найден и он более новый, чем соответствующий .py файл,
                    то Python использует скомпилированный байт-код из .pyc файла. Если .pyc файла нет или он устарел,
                    интерпретатор перекомпилирует .py файл и создаст новый .pyc файл.

                    Это помогает уменьшить время загрузки модулей и улучшить производительность при работе с
                    приложениями на Python.
                </p>
            </div>
        </div>
    </article>
</main>







{% endblock %} <!-- Основное содержимое страницы  -->